body {
	font-family: "Quicksand", sans-serif;
	font-size: var(--fz-lv-4);
	color: red;
	background: var(--bg-body-blue);
}

.app-container {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
	padding: 12px;
	user-select: none;
	.app-header {
		flex-shrink: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 12px;
		padding: 12px;
		background: var(--bg-box);
		border: 1px solid var(--bd-box);
		border-radius: var(--bdrs-lv-3) var(--bdrs-lv-3) 0 0;
		box-shadow: 0 -20px var(--bg-body-blue);
		position: sticky;
		top: 12px;
		left: 0;
		z-index: 9999;
		.logo {
			display: flex;
			align-items: center;
			gap: 12px;
			img {
				width: auto;
				height: 30px;
			}
			.text {
				color: var(--color-lv-1);
				font-size: var(--fz-lv-1);
				font-weight: 600;
			}
		}
		.nav {
			ul {
				display: flex;
				gap: 6px;
				li {
					a {
						display: block;
						height: 30px;
						line-height: 30px;
						padding: 0 12px;
						font-size: var(--fz-lv-3);
						color: var(--color-lv-1);
						border-radius: var(--bdrs-lv-4);
						&:hover, &.focus {
							color: hsl(var(--hue-saturation-gray), 95%);
							background: hsl(var(--hue-saturation-orange), 50%);
						}
					}
				}
			}
		}
	}
	.app-main {
		.vocab-dashboard {
			display: flex;
			flex-direction: column;
			gap: 12px;
			margin: 0 auto 12px;
			padding: 12px;
			background: var(--bg-box);
			border: 1px solid var(--bd-box);
			border-top: 0;
			border-radius: 0 0 var(--bdrs-lv-3) var(--bdrs-lv-3);
			box-shadow: 0 -20px var(--bg-body-blue);
			position: sticky;
			top: calc(56px + 12px);
			left: 0;
			z-index: 999;
			.vocab-progress {
				display: flex;
				flex-direction: column;
				gap: 6px;
				.vocab-progress__header {
					display: flex;
					justify-content: space-between;
					gap: 12px;
					.vocab-progress__label {
						color: var(--color-lv-1);
						font-weight: 500;
					}
					.vocab-progress__count {
						color: var(--color-lv-1);
						font-weight: 500;
					}
				}
				#vocab-progress__bar {
					-webkit-appearance: none;
					appearance: none;
					width: 100%;
					height: 8px;
					&::-webkit-progress-bar {
						background: var(--bd-box);
					}
					&::-webkit-progress-value {
						background: hsl(var(--hue-saturation-teal), 50%);
					}
				}
			}
			.filter-box {
				display: flex;
				align-items: center;
				gap: 12px;
				#search-vocabulary {
					width: 100%;
					height: 30px;
					padding: 0 6px;
					font-family: "Consolas", "Courier New", monospace;
					font-size: var(--fz-lv-4);
					color: var(--color-lv-2);
					background: var(--bg-box);
					border: 1px solid var(--bd-box);
					border-radius: var(--bdrs-lv-4);
					&::placeholder {
						color: var(--color-placeholder);
					}
					&:focus {
						border-color: var(--color-placeholder);
					}
				}
				.option {
					flex-shrink: 0;
					display: flex;
					gap: 6px;
					label {
						display: flex;
						align-items: center;
						height: 30px;
						padding: 0 6px;
						color: hsl(var(--hue-saturation-gray), 40%);
						background: hsl(var(--hue-saturation-gray), 95%);
						border: 1px solid hsl(var(--hue-saturation-gray), 90%);
						border-radius: var(--bdrs-lv-4);
						cursor: pointer;
						input[type="radio"] {
							display: none;
						}
						&:has(input:checked) {
							color: hsl(var(--hue-saturation-gray), 95%);
							background: hsl(var(--hue-saturation-gray), 50%);
							border: 1px solid hsl(var(--hue-saturation-gray), 45%);
						}
					}
				}
			}
		}
		#vocabulary-list {
			margin-top: 12px;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
			grid-gap: 12px;
			.item {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				padding: 12px;
				position: relative;
				color: var(--color-lv-2);
				background: var(--bg-box);
				border: 1px solid var(--bd-box);
				border-radius: var(--bdrs-lv-3);
				&.learned {
					border: 1px solid hsl(var(--hue-saturation-green), 60%);
					box-shadow: 0 0 12px -6px hsl(var(--hue-saturation-green), 60%) inset;
				}
				.hanzi {
					font-family: "Noto Serif SC", serif;
					font-size: 40px;
				}
				.pinyin, .vietnamese {
					font-size: 14px;
					text-align: center;
				}
				.bottom {
					margin-top: 12px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
					.label {
						line-height: 24px;
						padding: 0 6px;
						font-size: 10px;
						font-weight: 500;
						border-radius: var(--bdrs-lv-4);
						color: hsl(var(--hue-saturation-orange), 40%);
						background: hsl(var(--hue-saturation-orange), 95%);
						border: 1px solid hsl(var(--hue-saturation-orange), 90%);
					}
					button {
						width: 26px;
						height: 100%;
						border-radius: var(--bdrs-lv-4);
						&.learned {
							color: hsl(var(--hue-saturation-green), 40%);
							background: hsl(var(--hue-saturation-green), 95%);
							border: 1px solid hsl(var(--hue-saturation-green), 90%);
						}
					}
				}
			}
		}
	}
}

@media (max-width: 610px) {
	.app-container {
		.app-header {
			flex-direction: column;
		}
		.app-main {
			.vocab-dashboard {
				top: calc(98px + 12px);
			}
		}
	}
}
@media (max-width: 460px) {
	.app-container {
		.app-header {
			.nav {
				display: none;
			}
		}
		.app-main {
			.filter-box {
				flex-direction: column;
			}
		}
	}
}