::-webkit-scrollbar {
	width: 0;
	height: 0;
}

body {
	font-family: "Quicksand", sans-serif;
	font-size: var(--fz-lv-4);
	color: red;
	background: var(--bg-body-blue);
}

.app-container {
	width: 100%;
	user-select: none;
	.app-header {
		flex-shrink: 0;
		background: var(--bg-box);
		border: 1px solid var(--bd-box);
		box-shadow: 0 -20px var(--bg-body-blue);
		position: sticky;
		top: 0;
		left: 0;
		z-index: 9999;
		.margin {
			max-width: 1080px;
			margin: 0 auto;
			padding: 12px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 12px;
			.logo {
				display: flex;
				align-items: center;
				gap: 12px;
				img {
					width: auto;
					height: 30px;
				}
				.text {
					color: var(--color-lv-1);
					font-size: var(--fz-lv-1);
					font-weight: 600;
				}
			}
			.nav {
				position: relative;
				.open-nav {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
					padding: 6px;
					width: 30px;
					height: 30px;
					background: hsl(var(--hue-saturation-gray), 95%);
					border: 1px solid hsl(var(--hue-saturation-gray), 90%);
					border-radius: var(--bdrs-lv-4);
					.dot {
						display: block;
						background: hsl(var(--hue-saturation-gray), 40%);
						width: 100%;
						height: 2px;
					}
				}
				ul {
					display: none;
					flex-direction: column;
					gap: 6px;
					position: absolute;
					top: 100%;
					right: -1px;
					width: max-content;
					padding: 6px;
					background: var(--bg-box);
					border: 1px solid var(--bd-box);
					border-radius: var(--bdrs-lv-4);
					li {
						a {
							display: block;
							height: 30px;
							line-height: 30px;
							padding: 0 12px;
							font-size: var(--fz-lv-3);
							color: var(--color-lv-1);
							border-radius: var(--bdrs-lv-5);
							&:hover, &.focus {
								color: hsl(var(--hue-saturation-gray), 95%);
								background: hsl(var(--hue-saturation-orange), 50%);
							}
						}
					}
				}
				&:hover ul {
					display: flex;
				}
			}
		}
	}
	.app-main {
		.vocab-dashboard {
			background: var(--bg-box);
			border: 1px solid var(--bd-box);
			border-top: 0;
			border-radius: 0 0 var(--bdrs-lv-3) var(--bdrs-lv-3);
			box-shadow: 0 -20px var(--bg-body-blue);
			position: sticky;
			top: 56px;
			left: 0;
			z-index: 999;
			.margin {
				max-width: 1080px;
				margin: 0 auto;
				padding: 12px;
				display: flex;
				flex-direction: column;
				gap: 12px;
				.vocab-progress {
					display: flex;
					flex-direction: column;
					gap: 6px;
					.vocab-progress__header {
						display: flex;
						justify-content: space-between;
						gap: 12px;
						.vocab-progress__label {
							color: var(--color-lv-1);
							font-weight: 500;
						}
						.vocab-progress__count {
							color: var(--color-lv-1);
							font-weight: 500;
						}
					}
					#vocab-progress__bar {
						-webkit-appearance: none;
						appearance: none;
						width: 100%;
						height: 8px;
						&::-webkit-progress-bar {
							background: var(--bd-box);
						}
						&::-webkit-progress-value {
							background-image: linear-gradient(
								90deg,
								rgba(245, 231, 163, 1) 0%,
								rgba(245, 204, 163, 1) 20%,
								rgba(240, 180, 168, 1) 40%,
								rgba(179, 230, 221, 1) 60%,
								rgba(168, 204, 240, 1) 80%,
								rgba(196, 179, 230, 1) 100%
							);
							background-size: 100vw 100%;
							background-position: left center;
							background-attachment: fixed;
						}
					}
				}
				.filter-box {
					display: flex;
					align-items: center;
					gap: 12px;
					#search-vocabulary {
						width: 100%;
						height: 30px;
						padding: 0 6px;
						font-family: "Consolas", "Courier New", monospace;
						font-size: var(--fz-lv-4);
						color: var(--color-lv-2);
						background: var(--bg-box);
						border: 1px solid var(--bd-box);
						border-radius: var(--bdrs-lv-4);
						&::placeholder {
							color: var(--color-placeholder);
						}
						&:focus {
							border-color: var(--color-placeholder);
						}
					}
					.option {
						flex-shrink: 0;
						display: flex;
						gap: 6px;
						label {
							display: flex;
							align-items: center;
							height: 30px;
							padding: 0 6px;
							color: hsl(var(--hue-saturation-gray), 40%);
							background: hsl(var(--hue-saturation-gray), 95%);
							border: 1px solid hsl(var(--hue-saturation-gray), 90%);
							border-radius: var(--bdrs-lv-4);
							&:hover {
								background: hsl(var(--hue-saturation-gray), 90%);
								border-color: hsl(var(--hue-saturation-gray), 85%);
							}
							&:active {
								background: hsl(var(--hue-saturation-gray), 85%);
								border-color: hsl(var(--hue-saturation-gray), 80%);
							}
							cursor: pointer;
							input[type="radio"] {
								display: none;
							}
							&:has(input:checked) {
								color: hsl(var(--hue-saturation-blue), 95%);
								background: hsl(var(--hue-saturation-blue), 50%);
								border: 1px solid hsl(var(--hue-saturation-blue), 45%);
								&:hover {
									background: hsl(var(--hue-saturation-blue), 45%);
									border-color: hsl(var(--hue-saturation-blue), 40%);
								}
								&:active {
									background: hsl(var(--hue-saturation-blue), 40%);
									border-color: hsl(var(--hue-saturation-blue), 35%);
								}
							}
						}
					}
				}
			}
		}
		#vocabulary-list {
			max-width: 1080px;
			margin: 0 auto;
			padding: 12px;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
			grid-gap: 12px;
			.item {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				padding: 12px;
				color: var(--color-lv-2);
				background: var(--bg-box);
				border: 1px solid var(--bd-box);
				border-radius: var(--bdrs-lv-3);
				&:hover {
					border-color: hsl(var(--hue-saturation-gray), 80%);
				}
				.hanzi {
					font-family: "Noto Serif SC", serif;
					font-size: 40px;
				}
				.pinyin, .vietnamese {
					font-size: 14px;
					text-align: center;
				}
				.bottom {
					margin-top: 12px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
					.label {
						line-height: 24px;
						padding: 0 6px;
						font-size: 10px;
						font-weight: 500;
						border-radius: var(--bdrs-lv-4);
					}
					button {
						width: 26px;
						height: 100%;
						border-radius: var(--bdrs-lv-4);
					}
				}
				&[data-label="HSK1"] {
					.bottom {
						.label {
							color: hsl(var(--hue-saturation-yellow), 30%);
							background: hsl(var(--hue-saturation-yellow), 90%);
							border: 1px solid hsl(var(--hue-saturation-yellow), 85%);
						}
					}
					&.learned {
						color: hsl(var(--hue-saturation-yellow), 25%);
						background: hsl(var(--hue-saturation-yellow), 85%);
						border: 1px solid hsl(var(--hue-saturation-yellow), 80%);
						box-shadow: 0 0 12px -6px hsl(var(--hue-saturation-yellow), 60%) inset;
						.bottom {
							button {
								color: hsl(var(--hue-saturation-yellow), 30%);
								background: hsl(var(--hue-saturation-yellow), 90%);
								border: 1px solid hsl(var(--hue-saturation-yellow), 85%);
							}
						}
					}
				}
				&[data-label="HSK2"] {
					.bottom {
						.label {
							color: hsl(var(--hue-saturation-orange), 30%);
							background: hsl(var(--hue-saturation-orange), 90%);
							border: 1px solid hsl(var(--hue-saturation-orange), 85%);
						}
					}
					&.learned {
						color: hsl(var(--hue-saturation-orange), 25%);
						background: hsl(var(--hue-saturation-orange), 85%);
						border: 1px solid hsl(var(--hue-saturation-orange), 80%);
						box-shadow: 0 0 12px -6px hsl(var(--hue-saturation-orange), 60%) inset;
						.bottom {
							button {
								color: hsl(var(--hue-saturation-orange), 30%);
								background: hsl(var(--hue-saturation-orange), 90%);
								border: 1px solid hsl(var(--hue-saturation-orange), 85%);
							}
						}
					}
				}
				&[data-label="HSK3"] {
					.bottom {
						.label {
							color: hsl(var(--hue-saturation-red), 30%);
							background: hsl(var(--hue-saturation-red), 90%);
							border: 1px solid hsl(var(--hue-saturation-red), 85%);
						}
					}
					&.learned {
						color: hsl(var(--hue-saturation-red), 25%);
						background: hsl(var(--hue-saturation-red), 85%);
						border: 1px solid hsl(var(--hue-saturation-red), 80%);
						box-shadow: 0 0 12px -6px hsl(var(--hue-saturation-red), 60%) inset;
						.bottom {
							button {
								color: hsl(var(--hue-saturation-red), 30%);
								background: hsl(var(--hue-saturation-red), 90%);
								border: 1px solid hsl(var(--hue-saturation-red), 85%);
							}
						}
					}
				}
				&[data-label="HSK4"] {
					.bottom {
						.label {
							color: hsl(var(--hue-saturation-teal), 30%);
							background: hsl(var(--hue-saturation-teal), 90%);
							border: 1px solid hsl(var(--hue-saturation-teal), 85%);
						}
					}
					&.learned {
						color: hsl(var(--hue-saturation-teal), 25%);
						background: hsl(var(--hue-saturation-teal), 85%);
						border: 1px solid hsl(var(--hue-saturation-teal), 80%);
						box-shadow: 0 0 12px -6px hsl(var(--hue-saturation-teal), 60%) inset;
						.bottom {
							button {
								color: hsl(var(--hue-saturation-teal), 30%);
								background: hsl(var(--hue-saturation-teal), 90%);
								border: 1px solid hsl(var(--hue-saturation-teal), 85%);
							}
						}
					}
				}
				&[data-label="HSK5"] {
					.bottom {
						.label {
							color: hsl(var(--hue-saturation-blue), 30%);
							background: hsl(var(--hue-saturation-blue), 90%);
							border: 1px solid hsl(var(--hue-saturation-blue), 85%);
						}
					}
					&.learned {
						color: hsl(var(--hue-saturation-blue), 25%);
						background: hsl(var(--hue-saturation-blue), 85%);
						border: 1px solid hsl(var(--hue-saturation-blue), 80%);
						box-shadow: 0 0 12px -6px hsl(var(--hue-saturation-blue), 60%) inset;
						.bottom {
							button {
								color: hsl(var(--hue-saturation-blue), 30%);
								background: hsl(var(--hue-saturation-blue), 90%);
								border: 1px solid hsl(var(--hue-saturation-blue), 85%);
							}
						}
					}
				}
				&[data-label="HSK6"] {
					.bottom {
						.label {
							color: hsl(var(--hue-saturation-purple), 30%);
							background: hsl(var(--hue-saturation-purple), 90%);
							border: 1px solid hsl(var(--hue-saturation-purple), 85%);
						}
					}
					&.learned {
						color: hsl(var(--hue-saturation-purple), 25%);
						background: hsl(var(--hue-saturation-purple), 85%);
						border: 1px solid hsl(var(--hue-saturation-purple), 80%);
						box-shadow: 0 0 12px -6px hsl(var(--hue-saturation-purple), 60%) inset;
						.bottom {
							button {
								color: hsl(var(--hue-saturation-purple), 30%);
								background: hsl(var(--hue-saturation-purple), 90%);
								border: 1px solid hsl(var(--hue-saturation-purple), 85%);
							}
						}
					}
				}
			}
			.null {
				display: block;
				text-align: center;
				color: hsl(var(--hue-saturation-gray), 50%);
			}
		}
	}
}

@media (max-width: 620px) {
	.app-container {
		.app-main {
			.vocab-dashboard {
				top: 56px;
			}
		}
	}
}

@media (max-width: 470px) {
	.app-container {
		.app-main {
			.vocab-dashboard {
				.margin {
					.filter-box {
						flex-direction: column;
					}
				}
			}
		}
	}
}