::-webkit-scrollbar {
	width: 0;
	height: 0;
}

* {
	font-family: "Courier New", sans-serif;
	font-size: var(--fz-lv-4);
	color: red;
}

body {
	background: hsl(var(--hue-saturation-blue), 95%);
	user-select: none;
}

.box {
	width: 100vw;
	height: 100vh;
	display: flex;
	.sidebar {
		flex-shrink: 0;
		width: 360px;
		display: flex;
		flex-direction: column;
		gap: 12px;
		padding: 12px;
		--hs: var(--hue-saturation-gray);
		background: hsl(var(--hs), 100%);
		border-right: 1px solid hsl(var(--hs), 90%);
		.return-data {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			gap: 6px;
			.txt {
				display: flex;
				justify-content: space-between;
				align-items: center;
				--hs: var(--hue-saturation-brown);
				color: hsl(var(--hs), 50%);
				strong {
					line-height: 20px;
					padding: 0 6px;
					font-weight: normal;
					color: hsl(var(--hs), 50%);
					background: hsl(var(--hs), 90%);
					border: 1px solid hsl(var(--hs), 80%);
					border-radius: var(--bdrs-lv-4);
				}
				&.wage {
					--hs: var(--hue-saturation-purple);
				}
			}
		}
		.form {
			flex-shrink: 0;
			form {
				display: flex;
				flex-direction: column;
				gap: 6px;
				.check {
					display: flex;
					flex-direction: column;
					gap: 6px;
					label {
						width: 100%;
						height: 40px;
						display: flex;
						align-items: center;
						gap: 12px;
						padding: 0 12px;
						--hs: var(--hue-saturation-blue);
						background: hsl(var(--hs), 95%);
						border: 1px solid hsl(var(--hs), 85%);
						border-radius: var(--bdrs-lv-4);
						cursor: pointer;
						input[type="checkbox"] {
							display: block;
							-webkit-appearance: none;
							width: 8px;
							height: 8px;
							position: relative;
							overflow: hidden;
							background: hsl(var(--hs), 55%);
							border-radius: var(--bdrs-lv-4);
						}
						span {
							color: hsl(var(--hs), 55%);
						}
						&:hover {
							border-color: hsl(var(--hs), 60%);
						}
						&:active, &:has(input[type="checkbox"]:checked) {
							background: hsl(var(--hs), 65%);
							border-color: hsl(var(--hs), 55%);
							input[type="checkbox"] {
								background: hsl(var(--hs), 100%);
							}
							span {
								color: hsl(var(--hs), 100%);
							}
						}
					}
					.gr {
						display: flex;
						gap: 6px;
					}
				}
				button {
					height: 60px;
					padding: 0 12px;
					--hs: var(--hue-saturation-purple);
					color: hsl(var(--hs), 90%);
					background: hsl(var(--hs), 55%);
					border: 1px solid hsl(var(--hs), 45%);
					border-radius: var(--bdrs-lv-4);
					&:hover {
						border-color: hsl(var(--hs), 35%);
					}
					&:active {
						color: hsl(var(--hs), 95%);
						background: hsl(var(--hs), 45%);
						border-color: hsl(var(--hs), 35%);
					}
				}
			}
		}
	}
	.main {
		flex: 1;
		padding: 12px;
		.calendar {
			display: flex;
			flex-direction: column;
			gap: 12px;
			height: 100%;
			padding: 12px;
			background: var(--bg-box);
			border: 1px solid var(--bd-box);
			border-radius: var(--bdrs-lv-4);
			.cal-head {
				flex-shrink: 0;
				display: flex;
				justify-content: space-between;
				align-items: center;
				--hs: var(--hue-saturation-gray);
				button {
					width: 30px;
					aspect-ratio: 1;
					color: hsl(var(--hs), 50%);
					background: hsl(var(--hs), 90%);
					border: 1px solid hsl(var(--hs), 80%);
					border-radius: var(--bdrs-lv-4);
					&:hover {
						border-color: hsl(var(--hs), 65%);
					}
					&:active {
						color: hsl(var(--hs), 95%);
						background: hsl(var(--hs), 60%);
						border-color: hsl(var(--hs), 50%);
					}
				}
				h3 {
					color: hsl(var(--hs), 30%);
					font-size: 26px;
				}
			}
			.cal-body {
				flex: 1;
				display: flex;
				flex-direction: column;
				gap: 12px;
				ul {
					display: grid;
					grid-template-columns: repeat(7, 1fr);
					grid-gap: 6px;
					&.days {
						li {
							color: hsl(var(--hue-saturation-gray), 30%);
							font-size: 20px;
							text-align: center;
						}
					}
					&.dates {
						height: 100%;
						li {
							display: flex;
							flex-direction: column;
							justify-content: space-between;
							gap: 6px;
							padding: 6px;
							background: hsl(var(--hue-saturation-gray), 95%);
							border: 1px solid hsl(var(--hue-saturation-gray), 90%);
							border-radius: var(--bdrs-lv-4);
							&.old {
								opacity: 0.3;
							}
							.day {
								font-size: 14px;
								color: hsl(var(--hue-saturation-gray), 50%);
								display: block;
								text-align: right;
								font-family: "IBM Plex Mono", monospace;
							}
							.data-task {
								width: 100%;
								height: 8px;
								display: grid;
								grid-template-columns: repeat(11, 1fr);
								grid-gap: 2px;
								border-radius: var(--bdrs-lv-5);
								overflow: hidden;
								span {
									&.half-day {
										grid-column: span 4;
										background: hsl(var(--hue-saturation-gray), 90%);
										&[work] {
											background: hsl(var(--hue-saturation-green), 50%);
										}
										&[leave] {
											background: hsl(var(--hue-saturation-gray), 50%);
										}
									}
									&.overtime {
										grid-column: span 3;
										background: hsl(var(--hue-saturation-gray), 90%);
										&[work] {
											background: hsl(var(--hue-saturation-blue), 40%);
										}
									}
								}
							}
							&[sunday] {
								border-color: hsl(var(--hue-saturation-gray), 85%);
								.data-task {
									span {
										&.half-day, &.overtime {
											&[work] {
												background: hsl(var(--hue-saturation-yellow), 40%);
											}
										}
									}
								}
								&[ns] {
									.data-task {
										span {
											&.half-day, &.overtime {
												&[work] {
													background: hsl(var(--hue-saturation-yellow), 30%);
												}
											}
										}
									}
								}
							}
							&[ns] {
								position: relative;
								&:before {
									content: "\ef44";
									font-family: "Material Symbols Rounded";
									font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 200, "opsz" 20;
									color: hsl(var(--hue-saturation-gray), 60%);
									position: absolute;
									left: 6px;
									top: 6px;
									font-size: 13px;
									display: grid;
									place-items: center;
								}
								.data-task {
									span {
										&.half-day {
											&[work] {
												background: hsl(var(--hue-saturation-green), 40%);
											}
											&[leave] {
												background: hsl(var(--hue-saturation-gray), 40%);
											}
										}
										&.overtime {
											&[work] {
												background: hsl(var(--hue-saturation-blue), 30%);
											}
										}
									}
								}
							}
							&[today] {
								border-color: hsl(var(--hue-saturation-blue), 60%);
								span {
									font-weight: 600;
									text-decoration-line: underline;
								}
							}
						}
					}
				}
			}
		}
	}
}