* {
	font-family: "Consolas", sans-serif;
	color: red;
	font-size: var(--fz-lv-4);
}

body {
	background: var(--bg-body-blue);
	display: grid;
	place-items: center;
	height: 100vh;
}

.box {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 12px;
	width: 100%;
	height: 100%;
	.data {
		display: flex;
		gap: 12px;
		textarea {
			resize: none;
			width: 100%;
			line-height: 24px;
			padding: 6px 12px;
			color: var(--color-lv-3);
			background: var(--bg-box);
			border: 1px solid var(--bd-box);
			border-radius: var(--bdrs-lv-3);
			&::placeholder {
				color: var(--color-placeholder);
			}
		}
	}
	.in-change {
		flex-shrink: 0;
		align-items: center;
		textarea {
			field-sizing: content;
			min-height: 24px;
		}
		button {
			flex-shrink: 0;
			height: 30px;
			aspect-ratio: 1;
			border-radius: var(--bdrs-lv-3);
		}
	}
	.in-textarea {
		height: 100%;
		textarea {
			height: 100%;
		}
	}
}