* {
	font-family: "Quicksand", sans-serif;
	color: red;
	font-size: var(--fz-lv-4);
}

body {
	background: var(--bg-body-blue);
}

.box {
	width: 100%;
	max-width: 1080px;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 12px;
	user-select: none;
	#header-top {
		flex-shrink: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 12px;
		background: var(--bg-box);
		border: 1px solid var(--bd-box);
		border-radius: var(--bdrs-lv-3);
		.logo {
			display: flex;
			align-items: center;
			gap: 12px;
			img {
				width: auto;
				height: 30px;
			}
			span {
				color: var(--color-lv-1);
				font-size: var(--fz-lv-3);
				font-weight: 600;
			}
		}
		.btn-gr {
			display: flex;
			gap: 12px;
			button {
				height: 30px;
				border-radius: var(--bdrs-lv-4);
			}
			#btn-dark-more {
				aspect-ratio: 1;
			}
			#btn-create-new {
				padding: 0 12px;
				display: none;
			}
		}
	}
	.main {
		display: flex;
		flex-direction: column;
		gap: 12px;
		.form-data {
			display: flex;
			gap: 12px;
			.form {
				flex-shrink: 0;
				width: 300px;
				padding: 12px;
				background: var(--bg-box);
				border: 1px solid var(--bd-box);
				border-radius: var(--bdrs-lv-3);
				#form {
					width: 100%;
					display: flex;
					flex-direction: column;
					gap: 12px;
					user-select: none;
					position: relative;
					.gr-label {
						display: flex;
						gap: 12px;
						label {
							width: 100%;
							display: flex;
							align-items: center;
							border-radius: var(--bdrs-lv-4);
							overflow: hidden;
							cursor: pointer;
							input[type="radio"] {
								flex-shrink: 0;
								-webkit-appearance: none;
								background: 0;
								border: 0;
								width: 30px;
								height: 30px;
								position: relative;
								cursor: pointer;
								&:before {
									font-family: "Material Symbols Rounded";
									font-size: 20px;
									font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 200, "opsz" 20;
									color: hsl(var(--hue-saturation-gray), 40%);
									background: hsl(var(--hue-saturation-gray), 95%);
									position: absolute;
									width: 100%;
									height: 100%;
									display: grid;
									place-items: center;
								}
								&[name="form-person"] {
									&:before {
										content: "\e87c";
									}
								}
								&[name="form-type"] {
									&:before {
										content: "\f1cc";
										font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 200, "opsz" 20;
									}
								}
								&:checked {
									&:before, & ~ .name {
										color: hsl(var(--hue-saturation-blue), 40%);
										background: hsl(var(--hue-saturation-blue), 90%);
									}
								}
							}
							.name {
								width: 100%;
								line-height: 30px;
								padding-right: 8px;
								font-weight: 500;
								color: hsl(var(--hue-saturation-gray), 40%);
								background: hsl(var(--hue-saturation-gray), 95%);
							}
						}
					}
					input[type="text"], input[type="tel"] {
						padding: 0 6px;
						height: 30px;
						color: var(--color-lv-2);
						background: transparent;
						border: 1px solid var(--bd-box);
						border-radius: var(--bdrs-lv-4);
						&::placeholder {
							color: var(--color-placeholder);
						}
					}
					button[type="submit"] {
						height: 30px;
						border-radius: var(--bdrs-lv-4);
					}
					button#close-form {
						display: none;
						height: 30px;
						border-radius: var(--bdrs-lv-4);
					}
				}
			}
			#return-chart {
				width: 100%;
				display: flex;
				background: var(--bg-box);
				border: 1px solid var(--bd-box);
				border-radius: var(--bdrs-lv-3);
			}
		}
		.return {
			position: relative;
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 12px;
			#return-data {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 12px;
				.item-data {
					position: relative;
					display: flex;
					flex-direction: column;
					gap: 12px;
					padding: 12px;
					background: var(--bg-box);
					border: 1px solid var(--bd-box);
					border-radius: var(--bdrs-lv-3);
					.title {
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding-bottom: 12px;
						border-bottom: 1px solid var(--bd-box);
						h3 {
							color: var(--color-lv-1);
							font-size: var(--fz-lv-3);
							font-weight: 500;
							line-height: 30px;
						}
						button {
							width: 30px;
							aspect-ratio: 1;
							border-radius: var(--bdrs-lv-4);
						}
					}
					.row-data {
						display: flex;
						flex-direction: column;
						gap: 12px;
						.txt {
							line-height: 24px;
							display: flex;
							justify-content: space-between;
							align-items: center;
							color: var(--color-lv-2);
							strong {
								display: grid;
								place-items: center;
								font-weight: 500;
								height: 24px;
								padding: 0 6px;
								font-family: "IBM Plex Mono", monospace;
								border-radius: var(--bdrs-lv-4);
							}
						}
					}
				}
			}
			#return-lists-box {
				position: absolute;
				display: none;
				padding: 12px;
				background: var(--bg-box);
				border: 1px solid var(--bd-box);
				border-radius: var(--bdrs-lv-3);
				width: 100%;
				height: 100%;
				&.open-box {
					display: block;
				}
				.title {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding-bottom: 12px;
					border-bottom: 1px solid var(--bd-box);
					h3 {
						color: var(--color-lv-1);
						font-size: var(--fz-lv-3);
						font-weight: 500;
					}
					button {
						width: 30px;
						aspect-ratio: 1;
						border-radius: var(--bdrs-lv-4);
					}
				}
				.return-lists {
					padding: 12px 0;
					display: grid;
					grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
					grid-gap: 12px;
					li {
						padding: 6px;
						display: flex;
						flex-direction: column;
						gap: 6px;
						background: hsl(var(--hue-saturation-gray), 98%);
						border: 1px solid hsl(var(--hue-saturation-gray), 90%);
						border-radius: var(--bdrs-lv-4);
						user-select: none;
						cursor: pointer;
						.item-row {
							display: flex;
							justify-content: space-between;
							align-items: center;
							.item-col {
								&.time {
									display: flex;
									align-items: center;
									gap: 6px;
									i {
										font-size: 20px;
									}
									* {
										color: var(--color-lv-4);
									}
								}
								&.status {
									padding: 0 6px;
									line-height: 24px;
									border-radius: var(--bdrs-lv-5);
								}
								&.description, &.amount {
									font-size: 13px;
									font-weight: 500;
									color: var(--color-lv-3);
									text-transform: lowercase;
								}
								&.amount {
									&:after {
										content: "đ";
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 900px) {
	.box {
		height: auto;
		.main {
			.return {
				#return-data {
					grid-template-columns: repeat(1, 1fr);
				}
			}
		}
	}
}

@media (max-width: 650px) {
	.box {
		position: relative;
		#header-top {
			.btn-gr {
				#btn-create-new {
					display: block;
				}
			}
		}
		.main {
			.form-data {
				.form {
					width: 100%;
				}
				#return-chart {
					display: none;
				}
			}
		}
	}
}