* {
	font: 14px "Bai Jamjuree", sans-serif;
	letter-spacing: 0.05em;
	color: #444;
}

::-webkit-scrollbar {
	display: none;
}

body {
	background: #e9e9e9;
	padding: 12px;
}

#dashboard {
	width: calc(100vw - 24px);
	height: calc(100vh - 24px);
	display: flex;
}

#dashboard #aside-left {
	flex-shrink: 0;
	background: white;
	width: 300px;
	height: 100%;
	border-right: 1px solid #e9e9e9;
}

#dashboard #aside-left #aside-left-top {
	height: 68px;
	border-bottom: 1px solid #e9e9e9;
	display: flex;
	align-items: center;
	padding: 12px;
}

#dashboard #aside-left #aside-left-top .logo {
	height: 24px;
}

#dashboard #aside-center {
	background: white;
	width: 100%;
	height: 100%;
}

#dashboard #aside-center #aside-center-top {
	height: 68px;
	border-bottom: 1px solid #e9e9e9;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px;
}

#dashboard #aside-center #aside-center-top .nav-top {
	display: flex;
	gap: 12px;
}

#dashboard #aside-center #aside-center-top .nav-top a {
	color: #9e9e9e;
	line-height: 44px;
	transition: 0.1s;
}

#dashboard #aside-center #aside-center-top .nav-top a:nth-child(1),
#dashboard #aside-center #aside-center-top .nav-top a:hover {
	color: #444;
}

#dashboard #aside-center #aside-center-top .nav-user {
	display: flex;
	align-items: center;
	gap: 6px;
}

#dashboard #aside-center #aside-center-top .nav-user .logged-user {
	display: flex;
	align-items: center;
	gap: 6px;
	position: relative;
	border: 1px solid #e9e9e9;
	padding: 6px;
	border-radius: 24px 6px 6px 24px;
	transition: 0.1s;
}

#dashboard #aside-center #aside-center-top .nav-user .logged-user:hover {
	border-color: #9e9e9e;
}

#dashboard #aside-center #aside-center-top .nav-user .logged-user .displayName {
	font-weight: 700;
}

#dashboard #aside-center #aside-center-top .nav-user .logged-user .thumb {
	height: 24px;
	aspect-ratio: 1;
	border-radius: 12px;
	overflow: hidden;
}

#dashboard #aside-center #aside-center-top .nav-user .dashboard {
	border: 1px solid #e9e9e9;
	height: 38px;
	border-radius: 6px;
	display: flex;
	align-items: center;
	padding: 0 6px;
	font-weight: 700;
	color: #3f51b5;
	transition: 0.1s;
}

#dashboard #aside-center #aside-center-top .nav-user .dashboard:hover {
	border-color: #3f51b5;
}

#dashboard #aside-center #aside-center-top .nav-user #btn-logout {
	background: 0;
	border: 1px solid #e9e9e9;
	height: 38px;
	aspect-ratio: 1;
	border-radius: 6px 18px 18px 6px;
	transition: 0.1s;
}

#dashboard #aside-center #aside-center-top .nav-user #btn-logout:hover {
	border-color: #9e9e9e;
}

#dashboard #aside-center #aside-center-bottom {
	padding: 12px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

#dashboard #aside-center #aside-center-bottom .grid {
	display: grid;
	gap: 12px;
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

#dashboard #aside-center #aside-center-bottom .grid .item {
	width: 100%;
	height: 100px;
	position: relative;
	padding: 12px;
	overflow: hidden;
}

#dashboard #aside-center #aside-center-bottom .grid .item:nth-child(1) {
	background: linear-gradient(45deg, rgba(79, 209, 196, 0.8), rgba(72, 188, 122, 0.8));
}

#dashboard #aside-center #aside-center-bottom .grid .item:nth-child(2) {
	background: linear-gradient(45deg, rgba(99, 179, 237, 0.8), rgba(49, 130, 206, 0.8));
}

#dashboard #aside-center #aside-center-bottom .grid .item:nth-child(3) {
	background: linear-gradient(45deg, rgba(252, 128, 128, 0.8), rgba(229, 62, 62, 0.8));
}

#dashboard #aside-center #aside-center-bottom .grid .item:nth-child(4) {
	background: linear-gradient(45deg, rgba(252, 128, 128, 0.8), rgba(214, 158, 46, 0.8));
}

#dashboard #aside-center #aside-center-bottom .grid .item .num {
	display: block;
	font-weight: 700;
	font-size: 20px;
	position: relative;
	z-index: 1;
}

#dashboard #aside-center #aside-center-bottom .grid .item svg {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 100%;
	fill: rgba(255, 255, 255, 0.3);
}

#dashboard #aside-center #aside-center-bottom .table-elm .table-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 6px;
	user-select: none;
}

#dashboard #aside-center #aside-center-bottom .table-elm .table-title h2 {
	font-weight: 700;
}

#dashboard #aside-center #aside-center-bottom .table-elm .table-title .prev_next {
	display: flex;
	gap: 6px;
}

#dashboard #aside-center #aside-center-bottom .table-elm .table-title .prev_next span {
	border: 1px solid #e9e9e9;
	display: flex;
	width: 30px;
	aspect-ratio: 1;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	opacity: 1;
	transition: 0.1s;
}

#dashboard #aside-center #aside-center-bottom .table-elm .table-title .prev_next span:hover {
	border-color: #9e9e9e;
}

#dashboard #aside-center #aside-center-bottom .table-elm .table-title .prev_next span.hide {
	opacity: 0.5;
	cursor: not-allowed;
}

#dashboard #aside-center #aside-center-bottom .table-elm table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

#dashboard #aside-center #aside-center-bottom .table-elm table tr:hover td {
	border-left: 1px solid #9e9e9e;
}

#dashboard #aside-center #aside-center-bottom .table-elm table tr th,
#dashboard #aside-center #aside-center-bottom .table-elm table tr td {
	border: 1px solid #e9e9e9;
	line-height: 30px;
	text-align: left;
	padding: 0 12px;
}

#dashboard #aside-center #aside-center-bottom .table-elm table tr th input[type=checkbox],
#dashboard #aside-center #aside-center-bottom .table-elm table tr td input[type=checkbox] {
	-webkit-appearance: none;
	background: 0;
	border: 0;
	border-radius: 0;
	width: 20px;
	height: 20px;
	margin: 10px 0 0;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

#dashboard #aside-center #aside-center-bottom .table-elm table tr th input[type=checkbox]:before,
#dashboard #aside-center #aside-center-bottom .table-elm table tr td input[type=checkbox]:before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	transition: 0.1s;
	box-shadow: 0 0 0 1px #e9e9e9 inset;
}

#dashboard #aside-center #aside-center-bottom .table-elm table tr th input[type=checkbox]:hover:before,
#dashboard #aside-center #aside-center-bottom .table-elm table tr td input[type=checkbox]:hover:before {
	box-shadow: 0 0 0 1px #9e9e9e inset;
}

#dashboard #aside-center #aside-center-bottom .table-elm table tr th input[type=checkbox]:checked:before,
#dashboard #aside-center #aside-center-bottom .table-elm table tr td input[type=checkbox]:checked:before {
	box-shadow: 0 0 0 2px #9e9e9e inset;
}

#dashboard #aside-center #aside-center-bottom .table-elm table tr th {
	font-weight: 600;
	user-select: none;
}

#dashboard #aside-center #aside-center-bottom .table-elm table tr td {
	height: 30px;
}

#dashboard #aside-center #aside-center-bottom .table-elm table tr td a:hover {
	color: #3182ce;
}