::-webkit-scrollbar { width: 0; height: 0; }

* {
	font-family: "Courier New", sans-serif;
	font-size: var(--fz-lv-4);
	color: red;
}

body {
	background: hsl(var(--hue-saturation-gray), 95%);
	display: grid;
	place-items: center;
	height: 100vh;
	user-select: none;
}

.box {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	position: relative;
	.toolbar {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		gap: 12px;
		padding: 12px;
		background: hsl(var(--hue-saturation-gray), 100%);
		border-bottom: 1px solid hsl(var(--hue-saturation-gray), 90%);
		button {
			height: 30px;
			padding: 0 12px;
			--hs: var(--hue-saturation-teal);
			color: hsl(var(--hs), 50%);
			background: hsl(var(--hs), 90%);
			border: 1px solid hsl(var(--hs), 80%);
			border-radius: var(--bdrs-lv-4);
			&:hover {
				border-color: hsl(var(--hs), 65%);
			}
			&:active, &.active {
				color: hsl(var(--hs), 95%);
				background: hsl(var(--hs), 60%);
				border-color: hsl(var(--hs), 50%);
			}
			&#btnGenerator {
				flex: 1;
				--hs: var(--hue-saturation-blue);
				color: hsl(var(--hs), 90%);
				background: hsl(var(--hs), 60%);
				border: 1px solid hsl(var(--hs), 50%);
				&:hover {
					border-color: hsl(var(--hs), 40%);
				}
				&:active, &.active {
					color: hsl(var(--hs), 100%);
					background: hsl(var(--hs), 50%);
					border-color: hsl(var(--hs), 40%);
				}
			}
		}
	}
	.main {
		flex: 1;
		display: flex;
		padding: 12px;
		.label-checkbox {
			height: 30px;
			display: flex;
			align-items: center;
			gap: 12px;
			padding: 0 12px;
			background: hsl(var(--hs), 85%);
			border: 1px solid hsl(var(--hs), 75%);
			border-radius: var(--bdrs-lv-4);
			cursor: pointer;
			input[type="checkbox"] {
				display: block;
				-webkit-appearance: none;
				width: 8px;
				height: 8px;
				position: relative;
				overflow: hidden;
				background: hsl(var(--hs), 45%);
				border-radius: var(--bdrs-lv-4);
			}
			.txt {
				color: hsl(var(--hs), 45%);
			}
			&:hover {
				border-color: hsl(var(--hs), 60%);
			}
			&:active, &:has(input[type="checkbox"]:checked) {
				background: hsl(var(--hs), 55%);
				border-color: hsl(var(--hs), 45%);
				input[type="checkbox"] {
					background: hsl(var(--hs), 90%);
				}
				.txt {
					color: hsl(var(--hs), 90%);
				}
			}
		}
		.table {
			width: 100%;
			padding: 12px;
			--hs: var(--hue-saturation-gray);
			background: hsl(var(--hs), 100%);
			border: 1px solid hsl(var(--hs), 90%);
			border-radius: var(--bdrs-lv-4);
			overflow-y: scroll;
			table {
				border-collapse: collapse;
				width: 100%;
				user-select: all;
				tr {
					th, td {
						padding-bottom: 6px;
						text-align: left;
						color: hsl(var(--hs), 50%);
					}
					th {
						font-weight: bold;
					}
					&:last-child {
						td {
							padding-bottom: 0;
						}
					}
				}
			}
		}
		.data-import {
			flex: 1;
			display: none;
			flex-direction: column;
			gap: 12px;
			&.active {
				display: flex;
			}
			.label {
				display: flex;
				gap: 12px;
				.label-checkbox {
					flex-shrink: 0;
					--hs: var(--hue-saturation-pink);
				}
				.label-importfile {
					flex: 1;
					.txt {
						display: block;
						line-height: 28px;
						text-align: center;
						padding: 0px 12px;
						cursor: pointer;
						--hs: var(--hue-saturation-green);
						color: hsl(var(--hs), 90%);
						background: hsl(var(--hs), 55%);
						border: 1px solid hsl(var(--hs), 45%);
						border-radius: var(--bdrs-lv-4);
						&:hover {
							border-color: hsl(var(--hs), 35%);
						}
						&:active {
							color: hsl(var(--hs), 95%);
							background: hsl(var(--hs), 45%);
							border-color: hsl(var(--hs), 35%);
						}
					}
				}
			}
			.table {
				height: calc((100vh - 55px - 12px - 30px - 12px - 12px - 12px - 55px) / 2);
			}
			#importCADs {
				height: calc(100vh - 55px - 12px - 30px - 12px - 12px - 55px);
			}

		}
		#dataGenerator {
			flex: 1;
			display: none;
			flex-direction: column;
			gap: 12px;
			&.active {
				display: flex;
			}
			.row-data {
				height: calc((100vh - 55px - 12px - 12px - 12px - 55px) / 2);
				display: flex;
				gap: 12px;
				&.data-basic {
					.control-customize {
						flex-shrink: 0;
						width: 800px;
						display: flex;
						flex-direction: column;
						gap: 6px;
						.customize {
							display: flex;
							gap: 6px;
							.col {
								display: flex;
								flex-direction: column;
								gap: 6px;
								&.col-1 {
									flex: 1;
									#btnTurn90 {
										flex: 1;
										padding: 0 12px;
										--hs: var(--hue-saturation-yellow);
										color: hsl(var(--hs), 90%);
										background: hsl(var(--hs), 55%);
										border: 1px solid hsl(var(--hs), 45%);
										border-radius: var(--bdrs-lv-4);
										&:hover {
											border-color: hsl(var(--hs), 35%);
										}
										&:active {
											color: hsl(var(--hs), 95%);
											background: hsl(var(--hs), 45%);
											border-color: hsl(var(--hs), 35%);
										}
									}
									input {
										width: 100%;
										height: 30px;
										padding: 0 6px;
										--hs: var(--hue-saturation-gray);
										color: hsl(var(--hs), 50%);
										background: hsl(var(--hs), 100%);
										border: 1px solid hsl(var(--hs), 90%);
										border-radius: var(--bdrs-lv-4);
										&::placeholder {
											color: inherit;
										}
									}
									.get-mark {
										display: flex;
										gap: 6px;
										button {
											flex-shrink: 0;
											padding: 0 12px;
											--hs: var(--hue-saturation-orange);
											color: hsl(var(--hs), 90%);
											background: hsl(var(--hs), 55%);
											border: 1px solid hsl(var(--hs), 45%);
											border-radius: var(--bdrs-lv-4);
											&:hover {
												border-color: hsl(var(--hs), 35%);
											}
											&:active {
												color: hsl(var(--hs), 95%);
												background: hsl(var(--hs), 45%);
												border-color: hsl(var(--hs), 35%);
											}
										}
									}
								}
								&.col-2 {
									.btn-action {
										display: flex;
										gap: 6px;
										.label-checkbox {
											--hs: var(--hue-saturation-brown);
										}
										button {
											height: 30px;
											padding: 0 12px;
											--hs: var(--hue-saturation-gray);
											color: hsl(var(--hs), 45%);
											background: hsl(var(--hs), 85%);
											border: 1px solid hsl(var(--hs), 75%);
											border-radius: var(--bdrs-lv-4);
											&:hover {
												border-color: hsl(var(--hs), 60%);
											}
											&:active, &.active {
												color: hsl(var(--hs), 90%);
												background: hsl(var(--hs), 55%);
												border-color: hsl(var(--hs), 45%);
											}
										}
									}
									.myCanvas {
										height: 240px;
										border-radius: var(--bdrs-lv-4);
										overflow: hidden;
										canvas {
											display: block;
											width: 100%;
											height: 100%;
											background: hsl(var(--hue-saturation-green), 40%);
										}
									}
								}
							}
						}
						#btnExport {
							flex: 1;
							padding: 0 12px;
							--hs: var(--hue-saturation-purple);
							color: hsl(var(--hs), 90%);
							background: hsl(var(--hs), 55%);
							border: 1px solid hsl(var(--hs), 45%);
							border-radius: var(--bdrs-lv-4);
							&:hover {
								border-color: hsl(var(--hs), 35%);
							}
							&:active {
								color: hsl(var(--hs), 95%);
								background: hsl(var(--hs), 45%);
								border-color: hsl(var(--hs), 35%);
							}
						}
					}
				}
			}
		}
	}
	.footer {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		gap: 6px;
		padding: 12px;
		background: hsl(var(--hue-saturation-gray), 10%);
		border-top: 1px solid hsl(var(--hue-saturation-gray), 20%);
		.status-box {
			display: flex;
			align-items: center;
			gap: 6px;
			padding: 0 8px;
			border: 1px solid hsl(var(--hue-saturation-gray), 20%);
			border-radius: var(--bdrs-lv-4);
			span {
				line-height: 28px;
				color: hsl(var(--hue-saturation-gray), 60%);
				&.val {
					font-weight: bold;
					color: hsl(var(--hue-saturation-blue), 60%);
				}
			}
		}
		.spacer {
			flex: 1;
		}
		.copyright {
			text-align: right;
			color: hsl(var(--hue-saturation-gray), 60%);
			b {
				color: hsl(var(--hue-saturation-gray), 80%);
			}
		}
	}
}