* {
	font: 14px "Bai Jamjuree", sans-serif;
	letter-spacing: 0.05em;
}

::-webkit-scrollbar {
	display: none;
}

body {
	background: #e9e9e9;
	display: flex;
	flex-direction: column;
	user-select: none;
}

.margin-block {
	width: 100%;
	max-width: 1000px;
	margin: auto;
}

#header {
	background: white;
}

#header>div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 0;
}

#header>div .header-left .logo {
	height: calc(50px - 12px*2);
}

#header>div .header-right {
	display: flex;
	align-items: center;
	gap: 12px;
}

#header>div .header-right .nav-right {
	display: flex;
	gap: 12px;
}

#header>div .header-right .nav-right a {
	color: #9e9e9e;
	line-height: 44px;
	transition: 0.1s;
}

#header>div .header-right .nav-right a:nth-child(1),
#header>div .header-right .nav-right a:hover {
	color: black;
}

#header>div .header-right .logged {
	display: flex;
	align-items: center;
	gap: 6px;
	position: relative;
	border: 1px solid #e9e9e9;
	padding: 6px;
	border-radius: 18px 6px 6px 18px;
	transition: 0.1s;
}

#header>div .header-right .logged:hover {
	border-color: #9e9e9e;
}

#header>div .header-right .logged .displayName {
	color: #000;
	font-weight: 700;
}

#header>div .header-right .logged .thumb {
	height: 30px;
	aspect-ratio: 1;
	border-radius: 12px;
	overflow: hidden;
}

#header>div .header-right #btn-logout {
	background: 0;
	border: 1px solid #e9e9e9;
	height: 44px;
	aspect-ratio: 1;
	border-radius: 6px 18px 18px 6px;
	transition: 0.1s;
}

#header>div .header-right #btn-logout:hover {
	border-color: #9e9e9e;
}

#body {
	margin-top: 12px;
}