@font-face {
	font-family: "SVN Gilroy";
	font-style: normal;
	font-weight: 400;
	src: url("fonts/SVNGilroy Light.woff") format("woff");
}

@font-face {
	font-family: "SVN Gilroy";
	font-style: normal;
	font-weight: 700;
	src: url("fonts/SVNGilroy Bold.woff") format("woff");
}