* {
	font-family: "Bai Jamjuree", sans-serif;
	font-size: 12px;
	color: hsl(210deg 10% 10%);
}

:root {
	--bdrs: 2px;
	--bd-color: hsl(210deg 10% 90%);
}

body {
	background: #edf5f8;
}

.expense-note {
	display: flex;
	flex-direction: column;
	height: 100vh;
	my-header {
		flex-shrink: 0;
		background: white;
		padding: 12px;
		border-bottom: 1px solid var(--bd-color);
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo {
			height: 40px;
		}
		.navbar {
			ul {
				display: flex;
				gap: 12px;
				li {}
			}
		}
	}
	my-main {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		overflow: hidden;
		.side {
			display: flex;
			flex-direction: column;
			gap: 12px;
			padding: 12px;
			&.side-left {
				flex-shrink: 0;
				background: white;
				width: 300px;
				height: 100%;
				border-right: 1px solid var(--bd-color);
				padding: 12px;
				#form {
					display: flex;
					flex-direction: column;
					gap: 12px;
					user-select: none;
					.gr-label {
						display: flex;
						gap: 12px;
						label {
							display: flex;
							align-items: center;
							gap: 12px;
							width: 100%;
							border: 1px solid var(--bd-color);
							padding: 12px;
							cursor: pointer;
						}
					}
					input[type="text"], input[type="tel"] {
						padding: 0 12px;
						height: 40px;
						border: 1px solid var(--bd-color);
						font-weight: 500;
					}
					button {
						height: 40px;
						border: 1px solid var(--bd-color);
						font-weight: 500;
					}
				}
			}
			&.side-right {
				display: flex;
				flex-direction: column;
				gap: 12px;
				width: 100%;
				max-width: 720px;
				height: 100%;
				position: relative;
				margin: 0 auto;
				.row {
					&.preview-status {
						width: 100%;
						margin: 0 auto;
						display: flex;
						justify-content: center;
						gap: 12px;
						.col {
							width: 200px;
							padding: 0 12px 0 calc(12px + 16px + 12px);
							line-height: 40px;
							position: relative;
							&:before {
								content: "";
								position: absolute;
								background: lightgray;
								width: 16px;
								height: 16px;
								border-radius: 4px;
								left: 12px;
								top: 50%;
								transform: translatey(-50%);
							}
							&.stt-online:before {
								background: lightgreen;
							}
						}
					}
					&.row-data {
						display: grid;
						grid-template-columns: repeat(2, 1fr);
						grid-gap: 12px;
					}
					.col {
						width: 100%;
						background: white;
						border: 1px solid var(--bd-color);
						#chart-view-box {
							width: 100%;
							height: 250px;
						}
						.title {
							display: flex;
							justify-content: space-between;
							align-items: center;
							background: var(--bd-color);
							padding: 12px;
							h3 {
								font-weight: 400;
								color: rgba(black, 0.6);
								b {
									font-weight: 500;
								}
							}
							span {
								color: #406abf;
								font-weight: 500;
								&:after {
									content: "đ";
									font-weight: 400;
									color: #abb3ba;
								}
							}
						}
						.return-list {
							display: flex;
							flex-direction: column;
							gap: 12px;
							padding: 12px;
							overflow-y: scroll;
							height: 180px;
							li {
								cursor: pointer;
								position: relative;
								padding-left: 14px;
								&:before {
									content: "";
									position: absolute;
									background: lightgray;
									width: 2px;
									height: 100%;
									border-radius: 9999px;
									left: 0;
									top: 50%;
									transform: translatey(-50%);
								}
								&[data-status="online"]:before {
									background: lightgreen;
								}
								&[data-status="offline"] {
									transform: scale(0.9);
									* {
										text-decoration: line-through;
										opacity: 0.6;
									}
								}
								.data {
									display: flex;
									justify-content: space-between;
									align-items: center;
									.timeamp {
										color: #abb3ba;
									}
									.amount {
										flex-shrink: 0;
										font-weight: 600;
										color: #ff5722;
										&:after {
											content: "đ";
											font-weight: 400;
											color: #abb3ba;
										}
									}
								}
								.description {
									font-weight: 600;
								}
							}
						}
					}
				}
				.history-page {
					position: absolute;
					width: calc(100% - 12px * 2);
					height: calc(100% - 12px * 2);
					top: 12px;
					left: 12px;
					padding: 12px;
					filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.2));
					--radius: 12px;
					--padding: 6px;
					--width: 24px;
					--height: 24px;
					visibility: hidden;
					opacity: 0;
					display: none;
					&:before {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						background: #237197;
						border-radius: var(--radius);
						clip-path: shape(
							from bottom left,
							vline to 0,
							hline to calc(100% - var(--radius) - var(--width) - var(--padding)),
							arc to calc(100% - var(--width) - var(--padding)) var(--radius) of var(--radius) CW,
							vline to calc(var(--height) - var(--radius)),
							arc to calc(100% - var(--width) + var(--radius)) calc(var(--height) + var(--padding)) of calc(var(--radius) + var(--padding)) CCW,
							hline to calc(100% - var(--radius)),
							arc to 100% calc(var(--height) + var(--padding) + var(--radius)) of var(--radius) CW,
							vline to 100%,
							hline to 0
						);
					}
					button#close-history {
						position: absolute;
						width: var(--width);
						height: var(--height);
						background: #d7443a;
						border: 0;
						right: 0;
						top: 0;
						border-radius: var(--radius);
					}
				}
			}
		}
	}
}
