* {
	font-family: "Bai Jamjuree", sans-serif;
	font-size: 12px;
	color: hsl(210deg 10% 10%);
}

:root {
	--maxwidth: 1280px;
	--bdrs: 2px;
	--bd-color: hsl(210deg 10% 90%);
}

body {
	background: #161823;
}

.box {
	width: 100%;
	height: 100dvh;
	background: #edf5f8;
	display: flex;
	overflow-y: scroll;
	&::-webkit-scrollbar {
		width: 2px;
		height: 2px;
	}
	.side {
		&.sideleft {
			flex-shrink: 0;
			display: flex;
			flex-direction: column;
			width: 300px;
			box-shadow: 0 0 12px -6px rgba(0, 0, 0, 0.1);
			position: relative;
			overflow: hidden;
			transition: 1s cubic-bezier(0.4, 0, 0, 1);
			transition-delay: 0s;
			.a {
				position: relative;
				padding: 12px;
				&:before {
					content: "";
					position: absolute;
					width: 100%;
					height: calc(100% + 12px);
					background: linear-gradient(135deg, hsl(215deg 70% 45%) 0%, hsl(215deg 70% 65%) 100%);
					z-index: 0;
					left: 0;
					top: 0;
				}
				.logo {
					position: relative;
					a {
						display: flex;
						align-items: center;
						gap: 12px;
						img {
							width: auto;
							height: 46px;
						}
						span {
							color: white;
							font-size: 14px;
							font-weight: 500;
							overflow: hidden;
							display: -webkit-box;
							-webkit-line-clamp: 1;
							-webkit-box-orient: vertical;
							word-break: break-all;
							visibility: visible;
							opacity: 1;
							transition: 0.5s cubic-bezier(0.4, 0, 0, 1);
							transition-delay: 1s;
						}
					}
				}
			}
			.b {
				padding: 12px;
				background: white;
				height: 100%;
				border-radius: 12px 0 0 0;
				position: relative;
				transition: 1s cubic-bezier(0.4, 0, 0, 1);
				&:before {
					content: "";
					position: absolute;
					width: 12px;
					height: 12px;
					background: inherit;
					right: 0;
					bottom: 100%;
					clip-path: shape(
						from bottom left,
						arc to 100% 0 of 12px CCW,
						vline to 100%,
						hline to 0
					);
				}
				#form {
					width: calc(300px - 12px * 2);
					display: flex;
					flex-direction: column;
					gap: 12px;
					user-select: none;
					visibility: visible;
					opacity: 1;
					transition: 0.5s cubic-bezier(0.4, 0, 0, 1);
					transition-delay: 1s;
					.gr-label {
						display: flex;
						gap: 12px;
						label {
							display: flex;
							align-items: center;
							gap: 12px;
							width: 100%;
							border: 1px solid var(--bd-color);
							border-radius: 6px;
							padding: 12px;
							cursor: pointer;
						}
					}
					input[type="text"], input[type="tel"] {
						padding: 0 12px;
						height: 46px;
						border: 1px solid var(--bd-color);
						border-radius: 6px;
						font-weight: 500;
					}
					input[type="radio"] {
						-webkit-appearance: none;
						background: #edf5f8;
						border: 0;
						border-radius: 4px;
						width: 20px;
						height: 20px;
						position: relative;
						overflow: hidden;
						cursor: pointer;
						&:checked {
							border: 0;
							&:before {
								content: "\e155";
								font-family: "Material Symbols Rounded";
								background: hsl(215deg 70% 45%);
								color: white;
								position: absolute;
								width: 100%;
								height: 100%;
								text-align: center;
								line-height: 20px;
							}
						}
					}
					button {
						height: 46px;
						border: 0;
						border-radius: 6px;
						font-weight: 500;
						color: rgba(255, 255, 255, 0.9);
						background: hsl(215deg 70% 45%);
						box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.6);
						transition: 0.1s;
						&:hover {
							background: hsl(215deg 70% 40%);
							box-shadow: 0 0 12px -6px rgba(0, 0, 0, 0.6);
						}
						&:active {
							background: hsl(215deg 70% 35%);
						}
					}
				}
			}
			#close-sideleft {
				position: absolute;
				width: 46px;
				height: 46px;
				left: 12px;
				bottom: 12px;
				border: 0;
				border-radius: 9999px;
				color: rgba(255, 255, 255, 0.9);
				background: hsl(215deg 70% 45%);
				transition: transform 1s cubic-bezier(0.4, 0, 0, 1);
				&:hover {
					background: hsl(215deg 70% 40%);
					box-shadow: 0 0 12px -6px rgba(0, 0, 0, 0.6);
				}
				&:active {
					background: hsl(215deg 70% 35%);
				}
			}
			&.active {
				width: calc(12px * 2 + 46px);
				transition-delay: 1s;
				.a {
					.logo {
						a {
							span {
								visibility: hidden;
								opacity: 0;
								transition-delay: 0s;
							}
						}
					}
				}
				.b {
					#form {
						visibility: hidden;
						opacity: 0;
						transition-delay: 0s;
					}
				}
				#close-sideleft {
					transform: rotate(180deg);
				}
			}
		}
		&.sideright {
			width: 100%;
			max-width: 780px;
			margin: 0 auto;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 12px;
			align-content: start;
			padding: 12px;
			transition: 0.5s cubic-bezier(0.4, 0, 0, 1);
			.item {
				background: white;
				border-radius: 6px;
				box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.1);
				overflow: hidden;
				&.return-chart {
					width: 100%;
					height: 250px;
					grid-column: span 2;
				}
				&.return-data {
					.title {
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding: 0 12px;
						height: 46px;
						border-bottom: 1px solid var(--bd-color);
						h3 {
							font-weight: 400;
							color: rgba(black, 0.6);
							b {
								font-weight: 500;
							}
						}
						span {
							color: hsl(215deg 70% 45%);
							font-weight: 500;
							&:after {
								content: "đ";
								font-weight: 400;
								color: #abb3ba;
							}
						}
					}
					.lists-data {
						display: flex;
						flex-direction: column;
						gap: 12px;
						padding: 12px;
						overflow-y: scroll;
						height: 156px;
						li {
							display: grid;
							grid-template-columns: repeat(2, 1fr);
							grid-gap: 6px;
							padding-left: 14px;
							position: relative;
							&:before {
								content: "";
								position: absolute;
								background: var(--bd-color);
								width: 2px;
								height: 100%;
								border-radius: 2px;
								left: 0;
								top: 50%;
								transform: translatey(-50%);
							}
							&[data-status="unpaid"] {
								cursor: pointer;
								&:hover {
									&:before {
										background: hsl(215deg 70% 55%);
									}
								}
								&:before {
									background: hsl(215deg 70% 75%);
								}
								.status {
									color: hsl(10deg 70% 55%);
								}
							}
							&[data-status="paid"] {
								transform: scale(0.9);
								user-select: none;
								&:after {
									content: "Đã thanh toán";
									position: absolute;
									background: rgba(255, 255, 255, 0.8);
									text-align: center;
									line-height: 30px;
									padding: 0 12px;
									border: 2px solid var(--bd-color);
									font-size: 14px;
									left: 50%;
									top: 50%;
									transform: translate(-50%, -50%) rotate(-5deg) scale(0.8);
								}
								* {
									opacity: 0.6;
									filter: grayscale(50%) blur(1px);
								}
							}
							span {
								&.amount, &.status {
									text-align: right;
								}
								&.timeamp {
									color: rgba(0, 0, 0, 0.6);
								}
								&.amount {
									flex-shrink: 0;
									font-weight: 500;
									color: hsl(215deg 70% 55%);
									&:after {
										content: "đ";
										font-weight: 400;
										color: #abb3ba;
									}
								}
								&.description {
									font-weight: 500;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1079px) {
	.box {
		flex-direction: column;
		.side {
			&.sideleft {
				width: 100%;
				position: fixed;
				z-index: 9999;
				.b {
					#form {
						display: grid;
						grid-template-columns: repeat(2, 1fr);
						width: 100%;
						max-width: calc(780px - 12px * 2);
						height: 162px;
						margin: 0 auto;
						transition-delay: 0s;
						.gr-person {
							order: 1;
						}
						input[name="form-description"] {
							order: 2;
						}
						input[name="form-amount"] {
							order: 4;
						}
						.gr-type {
							order: 3;
						}
						button {
							order: 5;
							grid-column: span 2;
						}
					}
				}
				#close-sideleft {
					left: unset;
					right: 12px;
					top: 12px;
					transform: rotate(90deg);
					transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1);
				}
				&.active {
					width: 100%;
					.a {
						.logo {
							a {
								span {
									visibility: unset;
									opacity: 1;
								}
							}
						}
					}
					.b {
						#form {
							visibility: hidden;
							opacity: 0;
							height: 0;
						}
					}
					#close-sideleft {
						transform: rotate(270deg);
					}
				}
			}
			&.sideright {
				margin-top: 256px;
				.item {
					grid-column: span 2;
				}
				&.active {
					margin-top: 94px;
				}
			}
		}
	}
}

@media (max-width: 500px) {
	.box {
		flex-direction: column;
		.side {
			&.sideleft {
				.b {
					border-bottom: 1px solid var(--bd-color);
					#form {
						display: flex;
						flex-direction: column;
						height: 278px;
						* {
							font-size: 16px;
						}
						input[name="form-amount"] {
							order: 3;
						}
						.gr-type {
							order: 4;
						}
					}
				}
			}
			&.sideright {
				margin-top: 372px;
			}
		}
	}
}