* {
	font: 14px "Bai Jamjuree", sans-serif;
	letter-spacing: 0.05em;
}

::-webkit-scrollbar {
	display: none;
}

body {
	background: #e9e9e9;
	display: flex;
	flex-direction: column;
	user-select: none;
}

.margin-block {
	width: 100%;
	max-width: 1000px;
	margin: auto;
}

.header {
	background: white;
}

.header>div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 0;
}

.header>div .logo {
	height: 30px;
}

.header>div .header-right form {
	display: flex;
	gap: 6px;
}

.header>div .header-right form .input {
	transition: 0.1s;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset;
}

.header>div .header-right form .input:hover {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5) inset;
}

.header>div .header-right form .input input {
	width: 144px;
	border: 0;
	background: 0;
	height: 30px;
	padding: 0 6px;
}

.header>div .header-right form .input input::placeholder {
	color: #999;
}

.header>div .header-right form button[type=submit] {
	border: 0;
	width: 100px;
	line-height: 30px;
	padding: 0 6px;
	background: #03a9f4;
	color: #fff;
	transition: 0.1s;
}

.header>div .header-right form button[type=submit]:hover {
	background: #0288d1;
}

.main {
	background: #90A4AE;
}

.main>div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: calc(100vh - 54px);
}

.main>div>img {
	width: auto;
	height: 410px;
}

.main>div form#signup {
	flex-shrink: 0;
	width: 400px;
	display: flex;
	flex-direction: column;
	gap: 6px;
	background: rgba(176, 190, 197, 0.5);
	padding: 12px;
}

.main>div form#signup .row {
	display: flex;
	gap: 6px;
}

.main>div form#signup .row .input {
	width: 100%;
	background: white;
	display: flex;
	align-items: center;
	transition: 0.1s;
}

.main>div form#signup .row .input:hover {
	box-shadow: 0 0 0 1px #ddd inset;
}

.main>div form#signup .row .input.error {
	box-shadow: 0 0 0 1px #f44336 inset;
}

.main>div form#signup .row .input .material-icons {
	flex-shrink: 0;
	width: 48px;
	text-align: center;
	color: #444;
}

.main>div form#signup .row .input input {
	width: 100%;
	border: 0;
	background: 0;
	height: 50px;
	padding: 0 12px 0 0;
}

.main>div form#signup .row .input input::placeholder {
	color: #999;
}

.main>div form#signup .row input[name=sex] {
	flex-shrink: 0;
	appearance: none;
	width: 50px;
	height: 50px;
	cursor: pointer;
	background: white;
	transition: 0.1s;
}

.main>div form#signup .row input[name=sex]:hover {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5) inset;
}

.main>div form#signup .row input[name=sex]:before {
	font-family: "Material Icons";
	font-size: 48px;
	color: #ddd;
}

.main>div form#signup .row input[name=sex]:checked:before {
	text-shadow: 0px 0px 6px rgba(68, 68, 68, 0.5);
}

.main>div form#signup .row input[name=sex][value=male]:before {
	content: "male";
}

.main>div form#signup .row input[name=sex][value=male]:checked:before {
	color: #2766d9;
}

.main>div form#signup .row input[name=sex][value=female]:before {
	content: "female";
}

.main>div form#signup .row input[name=sex][value=female]:checked:before {
	color: #e41f5e;
}

.main>div form#signup button[type=submit] {
	border: 0;
	width: 100%;
	line-height: 50px;
	background: #03a9f4;
	color: #fff;
	font-weight: 500;
	transition: 0.1s;
}

.main>div form#signup button[type=submit]:hover {
	background: #0288d1;
}