@font-face {
	font-family: "Google Sans";
	src: url(static/GoogleSans-Thin.ttf);
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Google Sans";
	src: url(static/GoogleSans-ThinItalic.ttf);
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: "Google Sans";
	src: url(static/GoogleSans-Light.ttf);
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Google Sans";
	src: url(static/GoogleSans-LightItalic.ttf);
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Google Sans";
	src: url(static/GoogleSans-Regular.ttf);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Google Sans";
	src: url(static/GoogleSans-Italic.ttf);
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Google Sans";
	src: url(static/GoogleSans-Medium.ttf);
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Google Sans";
	src: url(static/GoogleSans-MediumItalic.ttf);
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Google Sans";
	src: url(static/GoogleSans-Bold.ttf);
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Google Sans";
	src: url(static/GoogleSans-BoldItalic.ttf);
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "Google Sans";
	src: url(static/GoogleSans-Black.ttf);
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Google Sans";
	src: url(static/GoogleSans-BlackItalic.ttf);
	font-weight: 900;
	font-style: italic;
}