@font-face {
	font-family: "Google Sans";
	font-style: normal;
	font-weight: 400;
	src: url("fonts/GoogleSans-Regular.otf") format("otf");
}

@font-face {
	font-family: "Google-Sans";
	font-style: italic;
	font-weight: 400;
	src: url("fonts/GoogleSans-Italic.otf") format("otf");
}

@font-face {
	font-family: "Google-Sans";
	font-style: normal;
	font-weight: 500;
	src: url("fonts/GoogleSans-Medium.otf") format("otf");
}

@font-face {
	font-family: "Google-Sans";
	font-style: italic;
	font-weight: 500;
	src: url("fonts/GoogleSans-MediumItalic.otf") format("otf");
}

@font-face {
	font-family: "Google-Sans";
	font-style: normal;
	font-weight: 700;
	src: url("fonts/GoogleSans-Bold.otf") format("otf");
}

@font-face {
	font-family: "Google-Sans";
	font-style: italic;
	font-weight: 700;
	src: url("fonts/GoogleSans-BoldItalic.otf") format("otf");
}