* {
	font-family: "Bai Jamjuree", sans-serif;
	font-size: 12px;
	color: red;
}

:root {
	--hiepdeep-gray-1: hsl(200deg, 10%, 10%);
	--hiepdeep-gray-2: hsl(200deg, 10%, 20%);
	--hiepdeep-gray-3: hsl(200deg, 10%, 30%);
	--hiepdeep-gray-4: hsl(200deg, 10%, 40%);
	--hiepdeep-gray-5: hsl(200deg, 10%, 50%);
	--hiepdeep-gray-6: hsl(200deg, 10%, 60%);
	--hiepdeep-gray-7: hsl(200deg, 10%, 70%);
	--hiepdeep-gray-8: hsl(200deg, 10%, 80%);
	--hiepdeep-gray-9: hsl(200deg, 10%, 90%);
	--hiepdeep-red-1: hsl(10deg, 70%, 10%);
	--hiepdeep-red-2: hsl(10deg, 70%, 20%);
	--hiepdeep-red-3: hsl(10deg, 70%, 30%);
	--hiepdeep-red-4: hsl(10deg, 70%, 40%);
	--hiepdeep-red-5: hsl(10deg, 70%, 50%);
	--hiepdeep-red-6: hsl(10deg, 70%, 60%);
	--hiepdeep-red-7: hsl(10deg, 70%, 70%);
	--hiepdeep-red-8: hsl(10deg, 70%, 80%);
	--hiepdeep-red-9: hsl(10deg, 70%, 90%);
	--hiepdeep-green-1: hsl(150deg, 50%, 10%);
	--hiepdeep-green-2: hsl(150deg, 50%, 20%);
	--hiepdeep-green-3: hsl(150deg, 50%, 30%);
	--hiepdeep-green-4: hsl(150deg, 50%, 40%);
	--hiepdeep-green-5: hsl(150deg, 50%, 50%);
	--hiepdeep-green-6: hsl(150deg, 50%, 60%);
	--hiepdeep-green-7: hsl(150deg, 50%, 70%);
	--hiepdeep-green-8: hsl(150deg, 50%, 80%);
	--hiepdeep-green-9: hsl(150deg, 50%, 90%);
	--hiepdeep-blue-1: hsl(200deg, 50%, 10%);
	--hiepdeep-blue-2: hsl(200deg, 50%, 20%);
	--hiepdeep-blue-3: hsl(200deg, 50%, 30%);
	--hiepdeep-blue-4: hsl(200deg, 50%, 40%);
	--hiepdeep-blue-5: hsl(200deg, 50%, 50%);
	--hiepdeep-blue-6: hsl(200deg, 50%, 60%);
	--hiepdeep-blue-7: hsl(200deg, 50%, 70%);
	--hiepdeep-blue-8: hsl(200deg, 50%, 80%);
	--hiepdeep-blue-9: hsl(200deg, 50%, 90%);
	--hiepdeep-yellow-1: hsl(50deg, 80%, 10%);
	--hiepdeep-yellow-2: hsl(50deg, 80%, 20%);
	--hiepdeep-yellow-3: hsl(50deg, 80%, 30%);
	--hiepdeep-yellow-4: hsl(50deg, 80%, 40%);
	--hiepdeep-yellow-5: hsl(50deg, 80%, 50%);
	--hiepdeep-yellow-6: hsl(50deg, 80%, 60%);
	--hiepdeep-yellow-7: hsl(50deg, 80%, 70%);
	--hiepdeep-yellow-8: hsl(50deg, 80%, 80%);
	--hiepdeep-yellow-9: hsl(50deg, 80%, 90%);
	--hiepdeep-fontsize-1: 16px;
	--hiepdeep-fontsize-2: 14px;
	--hiepdeep-fontsize-3: 12px;
	--hiepdeep-radius-1: 16px;
	--hiepdeep-radius-2: 8px;
	--hiepdeep-radius-3: 4px;
	--hiepdeep-radius-4: 2px;
	--hiepdeep-background-body: hsl(200deg, 10%, 95%);
	--hiepdeep-background-item: hsl(0deg, 0%, 100%);
	--hiepdeep-border-item: hsl(200deg, 10%, 90%);
	--hiepdeep-background-button: hsl(200deg, 10%, 95%);
	--hiepdeep-border-button: hsl(200deg, 10%, 90%);
	--hiepdeep-background-button-hover: hsl(200deg, 10%, 90%);
	--hiepdeep-border-button-hover: hsl(200deg, 10%, 85%);
	--hiepdeep-background-button-active: hsl(200deg, 10%, 85%);
	--hiepdeep-border-button-active: hsl(200deg, 10%, 80%);
	--hiepdeep-text-level-1: hsl(200deg, 10%, 10%);
	--hiepdeep-text-level-2: hsl(200deg, 10%, 20%);
	--hiepdeep-placeholder: hsl(200deg, 10%, 70%);
}

body {
	background: var(--hiepdeep-background-body);
	display: grid;
	place-items: center;
	gap: 12px;
	padding: 12px;
}

.calendar {
	width: 100%;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 12px;
	background: var(--hiepdeep-background-item);
	border: 1px solid var(--hiepdeep-border-item);
	border-radius: var(--hiepdeep-radius-2);
	.cal-head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		h3 {
			color: var(--hiepdeep-gray-1);
			font-size: var(--hiepdeep-fontsize-1);
			font-weight: 500;
		}
		button {
			color: var(--hiepdeep-gray-1);
			background: var(--hiepdeep-background-button);
			border: 1px solid var(--hiepdeep-border-button);
			border-radius: var(--hiepdeep-radius-3);
			width: 30px;
			aspect-ratio: 1;
			display: grid;
			place-items: center;
			font-size: 24px;
			font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 200, "opsz" 48;
			&:hover {
				background: var(--hiepdeep-background-button-hover);
				border: 1px solid var(--hiepdeep-border-button-hover);
			}
			&:active {
				background: var(--hiepdeep-background-button-active);
				border: 1px solid var(--hiepdeep-border-button-active);
			}
		}
	}
	.cal-body {
		display: flex;
		flex-direction: column;
		gap: 12px;
		ul {
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			grid-gap: 6px;
			* {
				color: var(--hiepdeep-gray-1);
			}
			&.days {
				li {
					font-size: var(--hiepdeep-fontsize-2);
					text-align: center;
					color: var(--hiepdeep-gray-5);
				}
			}
			&.dates {
				li {
					width: 100%;
					height: 60px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					gap: 6px;
					padding: 6px;
					background: var(--hiepdeep-gray-9);
					border: 1px solid var(--hiepdeep-gray-8);
					border-radius: var(--hiepdeep-radius-3);
					&:hover {
						border-color: var(--hiepdeep-gray-7);
					}
					&.old {
						opacity: 0.1;
					}
					&.today {
						font-weight: 700;
						background: var(--hiepdeep-blue-9);
						border: 1px solid var(--hiepdeep-blue-8);
						&:hover {
							border-color: var(--hiepdeep-blue-7);
						}
					}
					.day {
						font-size: var(--hiepdeep-fontsize-3);
						display: block;
						text-align: right;
					}
					.data-task {
						width: 100%;
						height: 6px;
						display: grid;
						grid-template-columns: repeat(11, 1fr);
						grid-gap: 2px;
						border-radius: var(--hiepdeep-radius-4);
						overflow: hidden;
						.process {
							grid-column: span 8;
							display: grid;
							grid-template-columns: repeat(2, 1fr);
							grid-gap: 2px;
							.half-day {
								background: var(--hiepdeep-gray-8);
								&.attendance {
									background: var(--hiepdeep-green-5);
								}
							}
						}
						.overtime {
							background: var(--hiepdeep-gray-8);
							grid-column: span 3;
							&.attendance {
								background: var(--hiepdeep-blue-4);
							}
						}
					}
					&[o200] {
						.data-task {
							.process {
								.half-day {
									background: var(--hiepdeep-yellow-4);
								}
							}
							.overtime {
								background: var(--hiepdeep-yellow-4);
							}
						}
					}
				}
			}
		}
	}
}

.form {
	width: 100%;
	max-width: 800px;
	padding: 12px;
	background: var(--hiepdeep-background-item);
	border: 1px solid var(--hiepdeep-border-item);
	border-radius: var(--hiepdeep-radius-2);
	form {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 12px;
		user-select: none;
		position: relative;
		.gr-checkbox {
			display: flex;
			gap: 12px;
			label {
				display: flex;
				align-items: center;
				gap: 12px;
				width: 100%;
				border: 1px solid var(--hiepdeep-border-item);
				border-radius: var(--hiepdeep-radius-3);
				padding: 12px;
				cursor: pointer;
				input {
					-webkit-appearance: none;
					background: var(--hiepdeep-background-button);
					border: 0;
					border-radius: var(--hiepdeep-radius-3);
					width: 24px;
					height: 24px;
					position: relative;
					overflow: hidden;
					cursor: pointer;
					&:checked {
						&:before {
							content: "\e155";
							font-family: "Material Symbols Rounded";
							color: var(--hiepdeep-gray-9);
							background: var(--hsl-blue-50);
							position: absolute;
							width: 100%;
							height: 100%;
							display: grid;
							place-items: center;
						}
					}
				}
				span {
					color: var(--hiepdeep-gray-1);
				}
			}
		}
		button[type="submit"] {
			height: 46px;
			font-weight: 500;
			color: var(--hiepdeep-gray-9);
			background: var(--hsl-blue-50);
			border-radius: var(--hiepdeep-radius-3);
			border: 1px solid var(--hsl-blue-45);
			&:hover {
				background: var(--hsl-blue-45);
				border: 1px solid var(--hsl-blue-40);
			}
			&:active {
				background: var(--hsl-blue-40);
				border: 1px solid var(--hsl-blue-35);
			}
		}
	}
}