* {
	font-family: "Quicksand", sans-serif;
	color: red;
	font-size: var(--fz-lv-4);
}

body {
	background: var(--bg-body-blue);
}

.box {
	width: 100%;
	max-width: 1080px;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 12px;
	user-select: none;
	.form {
		flex-shrink: 0;
		padding: 12px;
		background: var(--bg-box);
		border: 1px solid var(--bd-box);
		border-radius: var(--bdrs-lv-3);
		#form {
			display: flex;
			flex-direction: column;
			gap: 12px;
			.gr-checkbox {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				grid-gap: 12px;
				label {
					display: flex;
					align-items: center;
					gap: 12px;
					width: 100%;
					border: 1px solid var(--bd-box);
					border-radius: var(--bdrs-lv-4);
					padding: 6px;
					cursor: pointer;
					input[type="checkbox"] {
						flex-shrink: 0;
						-webkit-appearance: none;
						background: var(--bg-body-blue);
						border: 0;
						border-radius: var(--bdrs-lv-5);
						width: 30px;
						height: 30px;
						position: relative;
						overflow: hidden;
						cursor: pointer;
						&:checked {
							&:before {
								content: "\e155";
								font-family: "Material Symbols Rounded";
								color: hsl(var(--hue-saturation-blue), 95%);
								background: hsl(var(--hue-saturation-blue), 50%);
								position: absolute;
								width: 100%;
								height: 100%;
								display: grid;
								place-items: center;
							}
						}
					}
					span {
						color: var(--color-lv-2);
						font-weight: 500;
					}
				}
			}
			button[type="submit"] {
				height: 44px;
				border-radius: var(--bdrs-lv-4);
			}
		}
	}
	.calendar {
		display: flex;
		flex-direction: column;
		gap: 12px;
		height: 100%;
		padding: 12px;
		background: var(--bg-box);
		border: 1px solid var(--bd-box);
		border-radius: var(--bdrs-lv-3);
		.cal-head {
			flex-shrink: 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			button {
				width: 30px;
				aspect-ratio: 1;
				border-radius: var(--bdrs-lv-4);
			}
			h3 {
				color: var(--color-lv-1);
				font-size: var(--fz-lv-1);
				font-weight: 500;
			}
		}
		.cal-body {
			display: flex;
			flex-direction: column;
			gap: 12px;
			height: 100%;
			ul {
				display: grid;
				grid-template-columns: repeat(7, 1fr);
				grid-gap: 6px;
				&.days {
					flex-shrink: 0;
					li {
						color: var(--color-lv-3);
						font-size: var(--fz-lv-3);
						text-align: center;
					}
				}
				&.dates {
					height: 100%;
					li {
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						gap: 6px;
						padding: 6px;
						background: hsl(var(--hue-saturation-gray), 95%);
						border: 1px solid hsl(var(--hue-saturation-gray), 90%);
						border-radius: var(--bdrs-lv-4);
						&.old {
							opacity: 0.3;
						}
						.day {
							color: var(--color-lv-4);
							display: block;
							text-align: right;
							font-family: "IBM Plex Mono", monospace;
						}
						&[sunday] {
							border-color: hsl(var(--hue-saturation-gray), 85%);
						}
						&[today] {
							border-color: hsl(var(--hue-saturation-blue), 60%);
							span {
								font-weight: 600;
								text-decoration-line: underline;
							}
						}
						&[ns] {
							position: relative;
							&:before {
								content: "\f174";
								font-family: "Material Symbols Rounded";
								font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 200, "opsz" 48;
								color: var(--color-placeholder);
								position: absolute;
								left: 6px;
								top: 0;
								height: calc(100% - 6px * 3);
								font-size: 24px;
								display: grid;
								place-items: center;
							}
							.data-task {
								.process {
									.half-day {
										&[work] {
											background: hsl(var(--hue-saturation-green), 40%);
										}
									}
								}
							}
						}
						.data-task {
							width: 100%;
							height: 6px;
							display: grid;
							grid-template-columns: repeat(11, 1fr);
							grid-gap: 2px;
							border-radius: var(--bdrs-lv-4);
							overflow: hidden;
							.process {
								grid-column: span 8;
								display: grid;
								grid-template-columns: repeat(2, 1fr);
								grid-gap: 2px;
								.half-day {
									background: hsl(var(--hue-saturation-gray), 90%);
									&[work] {
										background: hsl(var(--hue-saturation-green), 50%);
									}
								}
							}
							.overtime {
								grid-column: span 3;
								background: hsl(var(--hue-saturation-gray), 90%);
								&[overtime_dayshift] {
									background: hsl(var(--hue-saturation-blue), 40%);
								}
								&[overtime_nightshift] {
									background: hsl(var(--hue-saturation-blue), 30%);
								}
							}
							&[overtime_sunday_dayshift] {
								.process {
									.half-day {
										background: hsl(var(--hue-saturation-yellow), 40%);
									}
								}
								.overtime {
									background: hsl(var(--hue-saturation-yellow), 40%);
								}
							}
							&[overtime_sunday_nightshift] {
								.process {
									.half-day {
										background: hsl(var(--hue-saturation-yellow), 30%);
									}
								}
								.overtime {
									background: hsl(var(--hue-saturation-yellow), 30%);
								}
							}
						}
					}
				}
			}
		}
	}
	.return-data {
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		gap: 6px;
		padding: 12px;
		background: var(--bg-box);
		border: 1px solid var(--bd-box);
		border-radius: var(--bdrs-lv-3);
		.txt {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 12px;
			position: relative;
			padding-left: calc(12px + 2px);
			color: var(--color-lv-1);
			&:before {
				content: "";
				position: absolute;
				width: 1px;
				height: 100%;
				bottom: 0;
				left: 0;
				background: hsl(var(--hue-saturation-gray), 90%);
			}
			&:hover {
				&:before {
					background: hsl(var(--hue-saturation-gray), 70%);
				}
			}
			&:nth-child(n+2) {
				padding-top: 6px;
				border-top: 1px solid var(--bd-box);
				&:before {
					height: calc(100% - 6px);
				}
			}
			strong {
				display: grid;
				place-items: center;
				font-weight: 500;
				height: 24px;
				padding: 0 6px;
				font-family: "IBM Plex Mono", monospace;
				border-radius: var(--bdrs-lv-4);
			}
		}
	}
}

@media (max-width: 700px) {
	.box {
		height: auto;
		.form {
			#form {
				.gr-checkbox {
					grid-template-columns: repeat(2, 1fr);
				}
			}
		}
	}
}