* {
	font-family: "Quicksand", sans-serif;
	color: red;
	font-size: var(--fz-lv-3);
}

body {
	background: var(--bg-body-blue);
	display: grid;
	place-items: center;
}

.box {
	width: 1080px;
	padding: 12px;
	table {
		border-collapse: collapse;
		width: 100%;
		tr {
			th, td {
				text-align: left;
				padding: 12px;
			}
			th {
				color: hsl(var(--hue-saturation-green), 95%);
				background: hsl(var(--hue-saturation-green), 50%);
				user-select: none;
			}
			td {
				color: hsl(var(--hue-saturation-gray), 20%);
				user-select: all;
			}
			&:nth-child(even) {
				td {
					background: hsl(var(--hue-saturation-gray), 90%);
				}
			}
		}
	}
}