* {
	font-family: "Courier New", sans-serif;
	font-size: var(--fz-lv-4);
	color: red;
}

body {
	display: grid;
	height: 100vh;
	user-select: none;
}

.box {
	display: flex;
	width: 100vw;
	height: 100vh;
	position: relative;
	.sidebar {
		flex-shrink: 0;
		width: 300px;
		background: hsl(var(--hue-saturation-gray), 10%);
		border-right: 1px solid hsl(var(--hue-saturation-gray), 15%);
		display: flex;
		flex-direction: column;
		z-index: 5;
		input[type="checkbox"] {
			flex-shrink: 0;
			display: block;
			-webkit-appearance: none;
			width: 20px;
			height: 20px;
			position: relative;
			overflow: hidden;
			cursor: pointer;
			background: hsl(var(--hue-saturation-gray), 20%);
			border-radius: var(--bdrs-lv-4);
			&:before {
				content: "";
				position: absolute;
				width: calc((100% - 4px) / 3);
				height: calc(100% - 4px);
				left: 2px;
				top: 50%;
				transform: translatey(-50%);
				transition: 0.15s cubic-bezier(0.4, 0, 1, 1);
				background: hsl(var(--hue-saturation-gray), 60%);
				border-radius: calc(var(--bdrs-lv-4) - 2px);
			}
			&:checked:before {
				width: calc((100% - 4px) / 2);
				left: calc(100% - ((20px - 4px) / 2) - 2px);
				background: hsl(var(--hue-saturation-gray), 80%);
			}
		}
		.label-importfile {
			flex-shrink: 0;
			padding: 12px;
			border-bottom: 1px solid hsl(var(--hue-saturation-gray), 15%);
			.txt {
				display: block;
				line-height: 28px;
				text-align: center;
				padding: 0 12px;
				cursor: pointer;
				--hs: var(--hue-saturation-green);
				color: hsl(var(--hs), 80%);
				background: hsl(var(--hs), 25%);
				border: 1px solid hsl(var(--hs), 30%);
				border-radius: var(--bdrs-lv-4);
				&:hover {
					color: hsl(var(--hs), 100%);
					background: hsl(var(--hs), 35%);
					border: 1px solid hsl(var(--hs), 40%);
				}
			}
		}
		.sidebar-header {
			flex-shrink: 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 12px;
			border-bottom: 1px solid hsl(var(--hue-saturation-gray), 15%);
			h2 {
				color: hsl(var(--hue-saturation-gray), 80%);
			}
			#lblLayerCount {
				color: hsl(var(--hue-saturation-green), 60%);
				font-weight: bold;
			}
		}
		.layer-list {
			flex: 1;
			display: flex;
			flex-direction: column;
			padding: 12px;
			overflow-y: auto;
			transition: 0.2s ease;
			&.is-dragover {
				background: hsl(var(--hue-saturation-gray), 15%);
			}
			.empty-state {
				pointer-events: none;
				display: block;
				padding: 12px;
				text-align: center;
				color: hsl(var(--hue-saturation-gray), 60%);
			}
			.layer {
				display: flex;
				align-items: center;
				gap: 8px;
				padding-bottom: 6px;
				&:nth-child(n+2) {
					padding: 6px 0;
					border-top: 1px solid hsl(var(--hue-saturation-gray), 15%);
				}
				input[type="color"] {
					flex-shrink: 0;
					-webkit-appearance: none;
					border: none;
					width: 20px;
					height: 20px;
					border-radius: var(--bdrs-lv-4);
					cursor: pointer;
					&::-webkit-color-swatch-wrapper {
						padding: 0;
					}
					&::-webkit-color-swatch {
						border: none;
					}
				}
				.name-layer {
					flex: 1;
					color: hsl(var(--hue-saturation-gray), 60%);
				}
				button {
					flex-shrink: 0;
					width: 20px;
					height: 20px;
					background: hsl(var(--hue-saturation-gray), 20%);
					border: 0;
					border-radius: var(--bdrs-lv-4);
					position: relative;
					&:before, &:after {
						content: "";
						position: absolute;
						width: calc(100% - 8px);
						height: 2px;
						left: 50%;
						top: 50%;
						background: hsl(var(--hue-saturation-gray), 60%);
						border-radius: 9px;
					}
					&:before {
						transform: translate(-50%, -50%) rotate(-45deg);
					}
					&:after {
						transform: translate(-50%, -50%) rotate(45deg);
					}
					&:hover {
						&:before, &:after {
							background: hsl(var(--hue-saturation-red), 60%);
						}
					}
				}
			}
		}
		.sidebar-settings {
			flex-shrink: 0;
			display: flex;
			flex-direction: column;
			gap: 6px;
			padding: 12px;
			border-top: 1px solid hsl(var(--hue-saturation-gray), 15%);
			.label-checkbox {
				display: flex;
				align-items: center;
				gap: 12px;
				padding: 0 6px 0 0;
				cursor: pointer;
				color: hsl(var(--hue-saturation-gray), 60%);
				&:hover {
					color: hsl(var(--hue-saturation-gray), 80%);
				}
				.txt {
					font-weight: bold;
					color: inherit;
				}
			}
		}
	}
	.main-control {
		flex: 1;
		position: relative;
		display: flex;
		flex-direction: column;
		.toolbar {
			flex-shrink: 0;
			display: flex;
			align-items: center;
			gap: 6px;
			padding: 12px;
			background: hsl(var(--hue-saturation-gray), 10%);
			border-bottom: 1px solid hsl(var(--hue-saturation-gray), 15%);
			button {
				height: 30px;
				padding: 0 12px;
				--hs: var(--hue-saturation-gray);
				color: hsl(var(--hs), 60%);
				background: hsl(var(--hs), 15%);
				border: 1px solid hsl(var(--hs), 20%);
				border-radius: var(--bdrs-lv-4);
				&:not(.not-allowed):hover, &.active {
					color: hsl(var(--hs), 80%);
					background: hsl(var(--hs), 25%);
					border: 1px solid hsl(var(--hs), 30%);
				}
				&#btnUnselect {
					--hs: var(--hue-saturation-red);
				}
				&.not-allowed {
					opacity: 0.5;
					cursor: not-allowed;
				}
			}
			.split {
				color: hsl(var(--hue-saturation-gray), 20%);
			}
			.copyright {
				flex: 1;
				text-align: right;
				color: hsl(var(--hue-saturation-gray), 60%);
				b {
					color: hsl(var(--hue-saturation-gray), 80%);
				}
			}
		}
		.workspace {
			flex: 1;
			background: hsl(var(--hue-saturation-gray), 5%);
			cursor: crosshair;
			.canvas-container {
				display: block;
				width: 100%;
				height: 100%;
				position: relative;
				canvas {
					display: block;
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
				}
			}
		}
		.footer {
			flex-shrink: 0;
			display: flex;
			align-items: center;
			gap: 12px;
			padding: 12px;
			background: hsl(var(--hue-saturation-gray), 10%);
			border-top: 1px solid hsl(var(--hue-saturation-gray), 15%);
			.status-spacer {
				flex: 1;
			}
			.status-box {
				display: flex;
				align-items: center;
				gap: 6px;
				padding: 0 8px;
				border: 1px solid hsl(var(--hue-saturation-gray), 15%);
				border-radius: var(--bdrs-lv-4);
				span {
					line-height: 28px;
					color: hsl(var(--hue-saturation-gray), 60%);
					&.val {
						font-weight: bold;
						color: hsl(var(--hue-saturation-green), 60%);
					}
				}
				.option-select-list {
					position: relative;
					.option-select {
						width: max-content;
						line-height: 28px;
						font-weight: bold;
						color: hsl(var(--hue-saturation-green), 60%);
						cursor: pointer;
					}
					.option-list {
						position: absolute;
						right: -9px;
						bottom: calc(100% + 12px);
						display: flex;
						flex-direction: column;
						background: hsl(var(--hue-saturation-gray), 15%);
						border: 1px solid hsl(var(--hue-saturation-gray), 20%);
						border-radius: var(--bdrs-lv-4);
						opacity: 0;
						visibility: hidden;
						transition: 0.2s ease;
						z-index: 9;
						&:before {
							content: "";
							position: absolute;
							width: 100%;
							height: 12px;
							background: transparent;
							right: 0;
							top: 100%;
							z-index: 9;
						}
						span {
							display: block;
							width: max-content;
							line-height: 28px;
							padding: 0 12px;
							color: hsl(var(--hue-saturation-gray), 60%);
							cursor: pointer;
							&:hover {
								color: hsl(var(--hue-saturation-gray), 80%);
							}
						}
						&.is-open {
							bottom: calc(100% + 6px);
							opacity: 1;
							visibility: visible;
						}
					}
				}
				&#boxArea, &#boxMeasure {
					display: none;
				}
			}
		}
	}
}