* {
	font-family: "Bai Jamjuree", sans-serif;
	font-size: 12px;
	color: red;
	transition: color 1s, background 1s, border 1s;
}

::-webkit-scrollbar {
	width: 0;
	height: 0;
}

:root {
	--hiepdeep-background-body: hsl(200deg, 10%, 95%);
	--hiepdeep-background-item: hsl(0deg, 0%, 100%);
	--hiepdeep-border-item: hsl(200deg, 10%, 90%);
	--hiepdeep-background-button: hsl(200deg, 10%, 95%);
	--hiepdeep-border-button: hsl(200deg, 10%, 90%);
	--hiepdeep-background-button-hover: hsl(200deg, 10%, 90%);
	--hiepdeep-border-button-hover: hsl(200deg, 10%, 85%);
	--hiepdeep-background-button-active: hsl(200deg, 10%, 85%);
	--hiepdeep-border-button-active: hsl(200deg, 10%, 80%);
	--hiepdeep-text-level-1: hsl(200deg, 10%, 10%);
	--hiepdeep-text-level-2: hsl(200deg, 10%, 20%);
	--hiepdeep-text-level-3: hsl(200deg, 10%, 30%);
	--hiepdeep-text-level-4: hsl(200deg, 10%, 40%);
	--hiepdeep-text-level-5: hsl(200deg, 10%, 50%);
	--hiepdeep-text-level-6: hsl(200deg, 10%, 60%);
	--hiepdeep-text-level-7: hsl(200deg, 10%, 70%);
	--hiepdeep-text-level-8: hsl(200deg, 10%, 80%);
	--hiepdeep-text-level-9: hsl(200deg, 10%, 90%);
	--hiepdeep-fontsize-level-1: 16px;
	--hiepdeep-fontsize-level-2: 14px;
	--hiepdeep-fontsize-level-3: 12px;
	--hiepdeep-radius-level-1: 16px;
	--hiepdeep-radius-level-2: 8px;
	--hiepdeep-radius-level-3: 4px;
	--hiepdeep-radius-level-4: 2px;
}

body {
	background: var(--hiepdeep-background-body);
	display: grid;
	place-items: center;
	height: 100dvh;
	&[dark-mode="true"] {
		background: var(--hsl-gray-10);
		.box {
			.side {
				&.side-l {
					border-color: var(--hsl-gray-20);
					background: var(--hsl-gray-15);
					box-shadow: 0 6px 12px -6px color-mix(in srgb, var(--hsl-gray-25), transparent 80%);
					#form {
						.gr-label {
							label {
								border-color: var(--hsl-gray-20);
								span {
									color: var(--hsl-gray-80);
								}
							}
						}
						input[type="text"], input[type="tel"] {
							color: var(--hsl-gray-80);
							border-color: var(--hsl-gray-20);
							&::placeholder {
								color: var(--hsl-gray-60);
							}
						}
						input[type="radio"] {
							background: var(--hsl-gray-20);
							&:checked {
								&:before {
									color: var(--hsl-gray-80);
									background: var(--hsl-blue-40);
								}
							}
						}
						button[type="submit"] {
							color: var(--hsl-gray-80);
							background: var(--hsl-blue-40);
							border-color: var(--hsl-blue-35);
							box-shadow: 0 6px 12px -6px color-mix(in srgb, var(--hsl-gray-25), transparent 30%);
							&:hover {
								background: var(--hsl-blue-35);
								border-color: var(--hsl-blue-30);
							}
							&:active {
								background: var(--hsl-blue-30);
								border-color: var(--hsl-blue-25);
							}
						}
					}
				}
				&.side-r {
					.side-r-top {
						border-color: var(--hsl-gray-20);
						background: var(--hsl-gray-15);
						box-shadow: 0 6px 12px -6px color-mix(in srgb, var(--hsl-gray-25), transparent 80%);
						.logo {
							span {
								color: var(--hsl-gray-80);
							}
						}
						.btn-gr {
							button {
								&#light-dark-more {
									color: var(--hsl-gray-80);
									background: var(--hsl-gray-40);
									border-color: var(--hsl-gray-35);
									&:hover {
										background: var(--hsl-gray-35);
										border: 1px solid var(--hsl-gray-30);
									}
									&:active {
										background: var(--hsl-gray-30);
										border: 1px solid var(--hsl-gray-25);
									}
								}
								&#add-new {
									color: var(--hsl-gray-80);
									background: var(--hsl-blue-40);
									border-color: var(--hsl-blue-35);
									&:hover {
										background: var(--hsl-blue-35);
										border-color: var(--hsl-blue-30);
									}
									&:active {
										background: var(--hsl-blue-30);
										border-color: var(--hsl-blue-25);
									}
								}
							}
						}
					}
					.side-r-bot {
						.row {
							border-color: var(--hsl-gray-20);
							background: var(--hsl-gray-15);
							box-shadow: 0 6px 12px -6px color-mix(in srgb, var(--hsl-gray-25), transparent 80%);
							&:nth-child(n+2) {
								.title {
									border-color: var(--hsl-gray-20);
									h3 {
										color: var(--hsl-gray-80);
									}
									button {
										color: var(--hsl-gray-80);
										background: var(--hsl-gray-40);
										border-color: var(--hsl-gray-35);
										&:hover {
											background: var(--hsl-gray-35);
											border: 1px solid var(--hsl-gray-30);
										}
										&:active {
											background: var(--hsl-gray-30);
											border: 1px solid var(--hsl-gray-25);
										}
									}
								}
								.row-data {
									span {
										color: var(--hsl-gray-70);
										&:before {
											background: var(--hsl-gray-25);
										}
										strong {
											&.totals {
												color: var(--hsl-blue-25);
												background: var(--hsl-blue-85);
											}
											&.sums {
												color: var(--hsl-green-25);
												background: var(--hsl-green-85);
											}
											&.sums-totals {
												color: var(--hsl-red-25);
												background: var(--hsl-red-85);
											}
										}
									}
								}
							}
						}
						.return-lists-box {
							border-color: var(--hsl-gray-20);
							background: var(--hsl-gray-15);
							box-shadow: 0 6px 12px -6px color-mix(in srgb, var(--hsl-gray-25), transparent 80%);
							.title {
								border-color: var(--hsl-gray-20);
								h3 {
									color: var(--hsl-gray-80);
								}
								button {
									color: var(--hsl-gray-80);
									background: var(--hsl-gray-40);
									border-color: var(--hsl-gray-35);
									&:hover {
										background: var(--hsl-gray-35);
										border: 1px solid var(--hsl-gray-30);
									}
									&:active {
										background: var(--hsl-gray-30);
										border: 1px solid var(--hsl-gray-25);
									}
								}
							}
							.return-lists {
								li {
									border-color: var(--hsl-gray-25);
									background: color-mix(in srgb, var(--hsl-gray-20), transparent 50%);
									.item-row {
										.item-col {
											&.time {
												* {
													color: var(--hsl-gray-30);
												}
											}
											&.status {
												color: var(--hsl-green-25);
												border: 1px solid var(--hsl-green-75);
												background: var(--hsl-green-85);
											}
											&.description, &.amount {
												color: var(--hsl-gray-70);
												text-transform: lowercase;
											}
										}
									}
									&[data-status="paid"] {
										.item-row {
											.item-col {
												&.status {
													color: var(--hsl-gray-25);
													border-color: var(--hsl-gray-35);
													background: var(--hsl-gray-40);
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.box {
	display: flex;
	gap: 12px;
	width: 100%;
	max-width: 1080px;
	height: 100%;
	padding: 12px;
	.side {
		&.side-l {
			flex-shrink: 0;
			width: 300px;
			height: 100%;
			padding: 12px;
			background: var(--hiepdeep-background-item);
			border: 1px solid var(--hiepdeep-border-item);
			border-radius: var(--hiepdeep-radius-level-2);
			#form {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 12px;
				user-select: none;
				position: relative;
				.gr-label {
					display: flex;
					gap: 12px;
					label {
						display: flex;
						align-items: center;
						gap: 12px;
						width: 100%;
						border: 1px solid var(--hiepdeep-border-item);
						border-radius: var(--hiepdeep-radius-level-3);
						padding: 12px;
						cursor: pointer;
						span {
							color: var(--hiepdeep-text-level-1);
						}
					}
				}
				input[type="text"], input[type="tel"] {
					padding: 0 12px;
					height: 46px;
					color: var(--hiepdeep-text-level-1);
					background: transparent;
					border: 1px solid var(--hiepdeep-border-item);
					border-radius: var(--hiepdeep-radius-level-3);
					&::placeholder {
						color: var(--hiepdeep-text-level-7);
					}
				}
				input[type="radio"] {
					-webkit-appearance: none;
					background: var(--hiepdeep-background-button);
					border: 0;
					border-radius: var(--hiepdeep-radius-level-3);
					width: 24px;
					height: 24px;
					position: relative;
					overflow: hidden;
					cursor: pointer;
					&:checked {
						&:before {
							content: "\e155";
							font-family: "Material Symbols Rounded";
							color: var(--hiepdeep-text-level-9);
							background: var(--hsl-blue-50);
							position: absolute;
							width: 100%;
							height: 100%;
							display: grid;
							place-items: center;
						}
					}
				}
				button[type="submit"] {
					height: 46px;
					font-weight: 500;
					color: var(--hiepdeep-text-level-9);
					background: var(--hsl-blue-50);
					border-radius: var(--hiepdeep-radius-level-3);
					border: 1px solid var(--hsl-blue-45);
					&:hover {
						background: var(--hsl-blue-45);
						border: 1px solid var(--hsl-blue-40);
					}
					&:active {
						background: var(--hsl-blue-40);
						border: 1px solid var(--hsl-blue-35);
					}
				}
				button#close-form {
					display: none;
				}
			}
		}
		&.side-r {
			display: flex;
			flex-direction: column;
			gap: 12px;
			width: 100%;
			.side-r-top {
				flex-shrink: 0;
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 63px;
				padding: 0 12px;
				background: var(--hiepdeep-background-item);
				border: 1px solid var(--hiepdeep-border-item);
				border-radius: var(--hiepdeep-radius-level-2);
				.logo {
					display: flex;
					align-items: center;
					gap: 12px;
					img {
						width: auto;
						height: calc(63px - 24px);
					}
					span {
						color: var(--hiepdeep-text-level-1);
						font-size: 14px;
						font-weight: 600;
					}
				}
				.btn-gr {
					display: flex;
					gap: 12px;
					button {
						height: 30px;
						border-radius: var(--hiepdeep-radius-level-3);
						&#light-dark-more {
							color: var(--hiepdeep-text-level-1);
							background: var(--hiepdeep-background-button);
							border: 1px solid var(--hiepdeep-border-button);
							aspect-ratio: 1;
							display: grid;
							place-items: center;
							font-size: 24px;
							font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 200, "opsz" 20;
							&:hover {
								background: var(--hiepdeep-background-button-hover);
								border: 1px solid var(--hiepdeep-border-button-hover);
							}
							&:active {
								background: var(--hiepdeep-background-button-active);
								border: 1px solid var(--hiepdeep-border-button-active);
							}
						}
						&#add-new {
							display: none;
							padding: 0 12px;
							font-weight: 500;
							color: var(--hiepdeep-text-level-9);
							background: var(--hsl-blue-50);
							border: 1px solid var(--hsl-blue-45);
							&:hover {
								background: var(--hsl-blue-45);
								border: 1px solid var(--hsl-blue-40);
							}
							&:active {
								background: var(--hsl-blue-40);
								border: 1px solid var(--hsl-blue-35);
							}
						}
					}
				}
			}
			.side-r-bot {
				height: calc(100dvh - 63px - 12px * 3);
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 12px;
				align-content: start;
				overflow-y: scroll;
				position: relative;
				.row {
					width: 100%;
					background: var(--hiepdeep-background-item);
					border: 1px solid var(--hiepdeep-border-item);
					border-radius: var(--hiepdeep-radius-level-2);
					position: relative;
					&:nth-child(1) {
						height: 270px;
						grid-column: span 2;
						
					}
					&:nth-child(n+2) {
						display: flex;
						flex-direction: column;
						gap: 12px;
						padding: 12px;
						.title {
							display: flex;
							justify-content: space-between;
							align-items: center;
							padding-bottom: 12px;
							border-bottom: 1px solid var(--hiepdeep-border-item);
							h3 {
								color: var(--hiepdeep-text-level-1);
								font-size: var(--hiepdeep-fontsize-level-2);
								font-weight: 500;
							}
							button {
								position: absolute;
								top: 6px;
								right: 12px;
								color: var(--hiepdeep-text-level-1);
								background: var(--hiepdeep-background-button);
								border: 1px solid var(--hiepdeep-border-button);
								border-radius: var(--hiepdeep-radius-level-3);
								width: 30px;
								aspect-ratio: 1;
								display: grid;
								place-items: center;
								font-size: 24px;
								font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 200, "opsz" 48;
								&:hover {
									background: var(--hiepdeep-background-button-hover);
									border: 1px solid var(--hiepdeep-border-button-hover);
								}
								&:active {
									background: var(--hiepdeep-background-button-active);
									border: 1px solid var(--hiepdeep-border-button-active);
								}
							}
						}
						.row-data {
							display: flex;
							flex-direction: column;
							gap: 12px;
							span {
								position: relative;
								padding-left: calc(12px + 2px);
								line-height: 24px;
								color: var(--hiepdeep-text-level-2);
								&:before {
									content: "";
									position: absolute;
									width: 2px;
									height: 100%;
									top: 0;
									left: 0;
									background: var(--hiepdeep-text-level-9);
									border-radius: var(--hiepdeep-radius-level-4);
								}
								display: flex;
								justify-content: space-between;
								align-items: center;
								strong {
									font-weight: 500;
									padding: 0 6px;
									border-radius: var(--hiepdeep-radius-level-3);
									&.totals {
										color: var(--hsl-blue-25);
										background: var(--hsl-blue-85);
									}
									&.sums {
										color: var(--hsl-green-25);
										background: var(--hsl-green-85);
									}
									&.sums-totals {
										color: var(--hsl-red-25);
										background: var(--hsl-red-85);
									}
								}
							}
						}
					}
				}
				.return-lists-box {
					position: absolute;
					display: none;
					width: 100%;
					height: calc(100dvh - 63px - 12px * 3);
					padding: 12px;
					background: var(--hiepdeep-background-item);
					border: 1px solid var(--hiepdeep-border-item);
					border-radius: var(--hiepdeep-radius-level-2);
					&.open-box {
						display: block;
					}
					.title {
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding-bottom: 12px;
						border-bottom: 1px solid var(--hiepdeep-border-item);
						h3 {
							color: var(--hiepdeep-text-level-1);
							font-size: var(--hiepdeep-fontsize-level-2);
							font-weight: 500;
						}
						button {
							position: absolute;
							top: 6px;
							right: 12px;
							color: var(--hiepdeep-text-level-1);
							background: var(--hiepdeep-background-button);
							border: 1px solid var(--hiepdeep-border-button);
							border-radius: var(--hiepdeep-radius-level-3);
							width: 30px;
							aspect-ratio: 1;
							display: grid;
							place-items: center;
							font-size: 24px;
							font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 200, "opsz" 48;
							&:hover {
								background: var(--hiepdeep-background-button-hover);
								border: 1px solid var(--hiepdeep-border-button-hover);
							}
							&:active {
								background: var(--hiepdeep-background-button-active);
								border: 1px solid var(--hiepdeep-border-button-active);
							}
						}
					}
					.return-lists {
						padding: 12px 0;
						display: grid;
						grid-gap: 12px;
						grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
						li {
							padding: 6px;
							display: flex;
							flex-direction: column;
							gap: 6px;
							background: color-mix(in srgb, var(--hsl-gray-95), transparent 50%);
							border: 1px solid var(--hiepdeep-border-item);
							border-radius: var(--hiepdeep-radius-level-3);
							user-select: none;
							cursor: pointer;
							.item-row {
								display: flex;
								justify-content: space-between;
								align-items: center;
								.item-col {
									&.time {
										display: flex;
										align-items: center;
										gap: 6px;
										i {
											font-size: 20px;
										}
										* {
											color: var(--hiepdeep-text-level-3);
										}
									}
									&.status {
										padding: 0 6px;
										line-height: 24px;
										color: var(--hsl-green-25);
										background: var(--hsl-green-85);
										border: 1px solid var(--hsl-green-75);
										border-radius: var(--hiepdeep-radius-level-3);
									}
									&.description, &.amount {
										font-size: 13px;
										font-weight: 500;
										color: var(--hiepdeep-text-level-2);
										text-transform: lowercase;
									}
									&.amount {
										&:after {
											content: "đ";
										}
									}
								}
							}
							&[data-status="paid"] {
								.item-row {
									.item-col {
										&.status {
											color: var(--hiepdeep-text-level-2);
											border: 1px solid var(--hiepdeep-text-level-7);
											background: var(--hiepdeep-text-level-9);
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 900px) {
	.box {
		.side {
			&.side-r {
				.side-r-bot {
					.row {
						&:nth-child(n+2) {
							grid-column: span 2;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 650px) {
	.box {
		.side {
			&.side-l {
				display: none;
				&.open-form {
					position: absolute;
					z-index: 9999;
					width: 100%;
					top: 0;
					left: 0;
					border-radius: 0;
					border: 0;
					background: hsla(210deg, 10%, 10%, 0.6);
					backdrop-filter: blur(1px);
					display: grid;
					place-items: center;
					#form {
						max-width: 500px;
						padding: 12px;
						border-radius: var(--bdrs-2);
						border: 1px solid var(--hsl-gray-90);
						background: var(--bg-light);
						box-shadow: 0 6px 12px -6px var(--hsl-gray-30);
						input[type="text"], input[type="tel"] {
							font-size: 16px;
						}
						button#close-form {
							position: absolute;
							top: calc(0px - 30px - 12px);
							right: 12px;
							color: var(--hsl-gray-95);
							background: var(--hsl-red-50);
							border-radius: var(--bdrs-3);
							border: 1px solid var(--hsl-red-45);
							width: 30px;
							aspect-ratio: 1;
							display: grid;
							place-items: center;
							font-size: 24px;
							font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 200, "opsz" 48;
							&:hover {
								background: var(--hsl-red-45);
								border: 1px solid var(--hsl-red-40);
							}
							&:active {
								background: var(--hsl-red-40);
								border: 1px solid var(--hsl-red-35);
							}
						}
					}
				}
			}
			&.side-r {
				.side-r-top {
					.btn-gr {
						button {
							&#add-new {
								display: block;
							}
						}
					}
				}
				.side-r-bot {
					overflow-y: unset;
					height: auto;
					.row {
						&:nth-child(1) {
							display: none;
						}
					}
				}
			}
		}
	}
}