* {
	font-family: "Quicksand", sans-serif;
	color: red;
	font-size: var(--fz-lv-4);
}

body {
	background: var(--bg-body-blue);
}

.box {
	width: 100%;
	max-width: 1080px;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 12px;
	user-select: none;
	#header-top {
		flex-shrink: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 12px;
		background: var(--bg-box);
		border: 1px solid var(--bd-box);
		border-radius: var(--bdrs-lv-3);
		.logo {
			display: flex;
			align-items: center;
			gap: 12px;
			img {
				width: auto;
				height: 30px;
			}
			span {
				color: var(--color-lv-1);
				font-size: var(--fz-lv-3);
				font-weight: 600;
			}
		}
		.btn-gr {
			display: flex;
			gap: 12px;
			button {
				height: 30px;
				border-radius: var(--bdrs-lv-4);
			}
			#btn-dark-more {
				aspect-ratio: 1;
			}
			#btn-create-new {
				padding: 0 12px;
				display: none;
			}
		}
	}
	.main {
		height: 100%;
		display: flex;
		gap: 12px;
		.side {
			background: var(--bg-box);
			border: 1px solid var(--bd-box);
			border-radius: var(--bdrs-lv-3);
			&.side-l {
				flex-shrink: 0;
				width: 300px;
				padding: 12px;
				.options {
					display: flex;
					flex-direction: column;
					gap: 24px;
					.change-size {
						display: flex;
						gap: 12px;
						label {
							display: flex;
							align-items: center;
							border: 1px solid var(--bd-box);
							border-radius: var(--bdrs-lv-4);
							overflow: hidden;
							input {
								width: 100%;
								padding: 0 6px;
								height: 30px;
								font-family: "IBM Plex Mono", monospace;
								color: var(--color-lv-2);
								background: transparent;
								border: 0;
								border-radius: 0;
								position: relative;
								&::placeholder {
									color: var(--color-placeholder);
								}
							}
							span {
								display: grid;
								place-items: center;
								height: 100%;
								padding: 0 6px;
								font-family: "IBM Plex Mono", monospace;
								color: var(--color-lv-2);
								background: hsl(var(--hue-saturation-gray), 95%);
							}
						}
					}
					.change-fill {
						label {
							display: flex;
							align-items: center;
							gap: 12px;
							input {
								flex-shrink: 0;
								-webkit-appearance: none;
								background: hsl(var(--hue-saturation-gray), 95%);
								border: 0;
								border-radius: var(--bdrs-lv-4);
								width: 20px;
								height: 20px;
								position: relative;
								overflow: hidden;
								cursor: pointer;
								&:checked {
									background: hsl(var(--hue-saturation-blue), 60%);
								}
							}
							.label-name {
								color: var(--color-lv-2);
							}
						}
					}
					.change-angle {
						background: hsl(var(--hue-saturation-gray), 95%);
						border-radius: var(--bdrs-lv-4);
						width: 100%;
						height: 200px;
						position: relative;
						input[type="radio"] {
							flex-shrink: 0;
							-webkit-appearance: none;
							background: hsl(var(--hue-saturation-gray), 80%);
							border: 0;
							border-radius: var(--bdrs-lv-5);
							width: 20px;
							height: 20px;
							position: absolute;
							overflow: hidden;
							cursor: pointer;
							--margin-dot: 12px;
							&:checked {
								background: hsl(var(--hue-saturation-blue), 60%);
							}
							&#angle-top-left {
								top: var(--margin-dot);
								left: var(--margin-dot);
							}
							&#angle-top-center {
									top: var(--margin-dot);
									left: 50%;
									transform: translatex(-50%);
							}
							&#angle-top-right {
									top: var(--margin-dot);
									right: var(--margin-dot);
							}
							&#angle-center-right {
									top: 50%;
									transform: translatey(-50%);
									right: var(--margin-dot);
							}
							&#angle-bottom-right {
									bottom: var(--margin-dot);
									right: var(--margin-dot);
							}
							&#angle-bottom-center {
									bottom: var(--margin-dot);
									left: 50%;
									transform: translatex(-50%);
							}
							&#angle-bottom-left {
									bottom: var(--margin-dot);
									left: var(--margin-dot);
							}
							&#angle-center-left {
									top: 50%;
									transform: translatey(-50%);
									left: var(--margin-dot);
							}
							&#angle-center-center {
									top: 50%;
									left: 50%;
									transform: translate(-50%, -50%);
							}
						}
						.input[type="radio"] {
							flex-shrink: 0;
							-webkit-appearance: none;
							background: hsl(var(--hue-saturation-gray), 95%);
							border: 0;
							border-radius: var(--bdrs-lv-5);
							width: 30px;
							height: 30px;
							position: relative;
							overflow: hidden;
							cursor: pointer;
							&:before {
								content: "";
								position: absolute;
								background: hsl(var(--hue-saturation-gray), 60%);
								width: 4px;
								height: 4px;
								border-radius: 50%;
							}
							&:checked {
								background: hsl(var(--hue-saturation-blue), 90%);
								&:before {
									background: hsl(var(--hue-saturation-blue), 60%);
								}
							}
							&#angle-top-left {
								&:before {
									top: 4px;
									left: 4px;
								}
							}

						}
					}
				}
			}
			&.side-r {
				width: 100%;
				padding: 12px;
				display: flex;
				flex-direction: column;
				gap: 12px;
				label[for="import-image"] {
					.label-name {
						display: inline-block;
						display: grid;
						place-items: center;
						height: 32px;
						border-radius: var(--bdrs-lv-4);
					}
				}
				label[for="paste-image"] {
					display: flex;
					align-items: center;
					gap: 12px;
					.label-name {
						color: var(--color-lv-2);
					}
					input {
						width: 100%;
						padding: 0 6px;
						height: 32px;
						font-family: "IBM Plex Mono", monospace;
						color: var(--color-lv-2);
						background: transparent;
						border: 1px solid var(--bd-box);
						border-radius: var(--bdrs-lv-4);
						position: relative;
						&::placeholder {
							color: var(--color-placeholder);
						}
					}
				}
				.preview-picture {
					h3 {
						display: block;
						margin-bottom: 6px;
						font-weight: 500;
						color: var(--color-lv-1);
					}
					#preview {
						display: flex;
						gap: 12px;
						img {
							width: auto;
							height: 90px;
							border-radius: var(--bdrs-lv-4);
							overflow: hidden;
						}
						#preview-data-image {
							display: flex;
							flex-direction: column;
							justify-content: space-between;
							span {
								color: var(--color-lv-3);
								strong {
									color: var(--color-lv-2);
									font-weight: 500;
								}
							}
						}
					}
				}
				.return-picture {
					display: flex;
					flex-direction: column;
					height: 100%;
					h3 {
						display: block;
						margin-bottom: 6px;
						font-weight: 500;
						color: var(--color-lv-1);
					}
					#return {
						display: flex;
						background: hsl(var(--hue-saturation-gray), 95%);
						border-radius: var(--bdrs-lv-4);
						overflow: hidden;
						img {
							object-fit: contain;
						}
					}
				}
			}
		}
	}
}