:root {
	--hiepdeep-gray-background-button: hsl(200deg, 10%, 95%);
	--hiepdeep-gray-border-button: hsl(200deg, 10%, 90%);
	--hiepdeep-gray-background-button-hover: hsl(200deg, 10%, 90%);
	--hiepdeep-gray-border-button-hover: hsl(200deg, 10%, 85%);
	--hiepdeep-gray-background-button-active: hsl(200deg, 10%, 85%);
	--hiepdeep-gray-border-button-active: hsl(200deg, 10%, 80%);
	
	--hiepdeep-blue-background-button: hsl(200deg, 50%, 50%);
	--hiepdeep-blue-border-button: hsl(200deg, 50%, 45%);
	--hiepdeep-blue-background-button-hover: hsl(200deg, 50%, 45%);
	--hiepdeep-blue-border-button-hover: hsl(200deg, 50%, 40%);
	--hiepdeep-blue-background-button-active: hsl(200deg, 50%, 40%);
	--hiepdeep-blue-border-button-active: hsl(200deg, 50%, 35%);
	
	--hiepdeep-red-background-text: hsl(200deg, 50%, 90%);
	--hiepdeep-red-border-text: hsl(200deg, 50%, 80%);
	--hiepdeep-green-background-text: hsl(200deg, 50%, 90%);
	--hiepdeep-green-border-text: hsl(200deg, 50%, 80%);
	--hiepdeep-blue-background-text: hsl(200deg, 50%, 90%);
	--hiepdeep-blue-border-text: hsl(200deg, 50%, 80%);
	--hiepdeep-yellow-background-text: hsl(200deg, 50%, 90%);
	--hiepdeep-yellow-border-text: hsl(200deg, 50%, 80%);
}

@mixin test-style {
	background: green;
	border: 1px solid red;
}

[btn] {
	&[btn-gray] {
		background: var(--hiepdeep-gray-background-button);
		border: 1px solid var(--hiepdeep-gray-border-button);
	}
	&[btn-red] {
		background: var(--hiepdeep-red-background-button);
		border: 1px solid var(--hiepdeep-red-border-button);
	}
	&[btn-green] {
		background: var(--hiepdeep-green-background-button);
		border: 1px solid var(--hiepdeep-green-border-button);
	}
	&[btn-blue] {
		background: var(--hiepdeep-blue-background-button);
		border: 1px solid var(--hiepdeep-blue-border-button);
	}
	&[scss] {
		@include test-style;
	}
}