@charset "UTF-8";
* {
	font-family: "Bai Jamjuree", sans-serif;
	font-size: 12px;
	color: #171a1c;
}
:root {
	--maxwidth: 1280px;
	--bdrs: 2px;
	--bd-color: hsl(210deg 10% 90%);
}
body {
	background: #edf5f8;
	user-select: none;
}
.app {
	width: 100%;
	max-width: 800px;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 12px;
	height: 100vh;
}
.app .form-active {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--bd-color);
	padding-bottom: 12px;
}
.app .form-active #btn-open-form {
	border-radius: var(--bdrs);
	padding: 0 6px;
	height: 30px;
}
.app .form-active #total-image {
	font-weight: 600;
	color: #2873bd;
}
.app .form-active #total-image:before {
	content: "Đã tải lên ";
	font-weight: 400;
	color: #171a1c;
}
.app .form-active #total-image:after {
	content: " ảnh";
	font-weight: 400;
	color: #171a1c;
}
.app #box-images {
	width: 100%;
	display: grid;
	grid-gap: 12px;
	grid-template-columns: auto auto auto;
	grid-auto-flow: dense;
	cursor: pointer;
}
.app #box-images .image-container {
	position: relative;
	background: #607D8B;
	border-radius: var(--bdrs);
	overflow: hidden;
}
.app #box-images .image-container:before {
	content: "";
	font-family: "Material Symbols Rounded";
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.5);
	font-size: 24px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: 0.2s;
}
.app #box-images .image-container:hover:before {
	opacity: 1;
}
.preview-image {
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
	z-index: 999;
}
.preview-image:has(#preview-image.active) {
	opacity: 1;
	visibility: visible;
}
.preview-image #preview-image {
	background: rgba(0, 0, 0, 0.1);
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.preview-image #preview-image img {
	max-width: 80%;
	max-height: 80%;
	object-fit: contain;
}
.preview-image #preview-image .btn-gr {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	gap: 6px;
	padding: 6px;
	background: white;
}
.preview-image #preview-image .btn-gr span {
	background: rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.5);
	border-radius: var(--bdrs);
	padding: 6px;
	font-size: 20px;
}
.preview-image #preview-image .btn-gr span:hover {
	background: rgba(0, 0, 0, 0.5);
	color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
}
#crop-image {
	background: white;
	border: 1px solid var(--bd-color);
	width: max-content;
	position: fixed;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
	z-index: 999;
}
#crop-image.active {
	top: 50%;
	opacity: 1;
	visibility: visible;
}
#crop-image .row-1 {
	flex-shrink: 0;
	border-bottom: 1px solid var(--bd-color);
	display: flex;
	justify-content: space-between;
	padding: 12px;
	position: relative;
}
#crop-image .row-1 label[for=btn-upload-image] {
	display: flex;
	align-items: center;
	gap: 12px;
	user-select: none;
}
#crop-image .row-1 label[for=btn-upload-image] .text {
	padding: 0 12px;
	border-radius: var(--bdrs);
	line-height: 30px;
	cursor: pointer;
	--hls: 45%;
	color: rgba(255, 255, 255, 0.9);
	background: hsl(210deg, 20%, var(--hls));
}
#crop-image .row-1 label[for=btn-upload-image] .text:hover {
	--hls: 40%;
}
#crop-image .row-1 label[for=btn-upload-image] .text:active {
	--hls: 35%;
}
#crop-image .row-1 label[for=btn-upload-image] #upload-image-error {
	color: #F44336;
}
#crop-image .row-1 .btn-gr {
	display: flex;
	gap: 12px;
}
#crop-image .row-1 .btn-gr button {
	padding: 0 12px;
	height: 30px;
	border-radius: var(--bdrs);
}
#crop-image .row-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 12px;
	position: relative;
	width: 624px;
	height: 424px;
	overflow: hidden;
}
#crop-image .row-2 canvas {
	max-width: 600px;
	max-height: 400px;
}
#crop-image .row-2 #dragg-area {
	position: absolute;
	width: 600px;
	height: 400px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}
#crop-image .row-2 #dragg-area #dragg {
	display: none;
	position: inherit;
	width: 200px;
	height: 200px;
	cursor: grab;
	box-shadow: 0 0 0 600px rgba(0, 0, 0, 0.5);
}
#crop-image .row-2 #dragg-area #dragg #resizer {
	position: inherit;
	background: gray;
	width: 10px;
	height: 10px;
	border-radius: 100% 0 0 0;
	bottom: 0;
	right: 0;
	cursor: se-resize;
	z-index: 10;
	transition: 0.05s;
	box-shadow: 0 0 0 1px white;
}
#crop-image .row-2 #dragg-area #dragg #resizer:hover {
	background: gray;
}
.loading {
	width: 30px;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 1px solid;
	border-color: #73808c transparent;
	animation: loading-block 0.5s linear infinite;
}
@keyframes loading-block {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}