/* font-family: "Roboto", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* font-family: "Roboto Condensed", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/* font-family: "Be Vietnam Pro", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: "Niramit", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/* font-family: "Work Sans", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: "Bai Jamjuree", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/* font-family: "Space Mono", monospace; */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* font-family: "Itim", cursive; */
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
/* font-family: "Inter", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&display=swap");
/* font-family: "Quicksand", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
/* font-family: "National Park", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap");
/* font-family: "Comfortaa", serif; */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
/* font-family: "Google Sans"; font-family: "Google Sans Display"; font-family: "Google Sans Text"; font-family: "Product Sans"; */
@import url("https://fonts.googleapis.com/css2?family=Product+Sans&family=Google+Sans+Display:ital@0;1&family=Google+Sans_old:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,700&family=Google+Sans+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,700&display=swap");
/* font-family: "Playpen Sans", cursive; */
@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&amp;display=swap");
/* font-family: "Noto Sans SC", serif; font-family: "Noto Serif SC", serif; */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC&family=Noto+Serif+SC:wght@200..900&display=swap");
/* font-family: "Avenir Next"; */
@import url("https://hiepdeep.netlify.app/library/font-family/avenirNext/font-face.css");
/* font-family: "SVN Gilroy"; */
@import url("https://hiepdeep.netlify.app/library/font-family/svnGilroy/font-face.css");
/* font-family: "Material Icons"; */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/*font-family: 'Material Icons Outlined';*/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
/*font-family: 'Material Icons Rounded';*/
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
/* font-family: "FontAwesome"; */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
/* font-family: "Font Awesome 5 Brands"; */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, p, pre, q, s, samp, small, span, strike, strong, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
	outline: none;
	vertical-align: baseline;
}
:link, button {
	text-decoration: none;
	cursor: pointer;
	user-select: none;
}
:link, :hover, :focus, :active, :visited {
	outline: none;
}
/*::-moz-selection {color: #fff;background: #FFA07A;}::selection {color: #fff;background: #FFA07A;}*/
/*::-webkit-scrollbar-track {background: #FFF;}::-webkit-scrollbar {width: 2px;height: 2px;}::-webkit-scrollbar-thumb {background: #322E2F;}*/
:root {
	--sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--hex-red-0: #e64d4d;
	--hex-red-1: #cf4545;
	--hex-red-2: #b83e3e;
	--hex-red-3: #a13636;
	--hex-red-4: #8a2e2e;
	--hex-red-5: #732626;
	--hex-red-6: #5c1f1f;
	--hex-red-7: #451717;
	--hex-red-8: #2e0f0f;
	--hex-red-9: #170808;
	--hex-green-0: #12a159;
	--hex-green-1: #109150;
	--hex-green-2: #0e8147;
	--hex-green-3: #0d703e;
	--hex-green-4: #0b6135;
	--hex-green-5: #09502c;
	--hex-green-6: #074024;
	--hex-green-7: #05301b;
	--hex-green-8: #042012;
	--hex-green-9: #021009;
	--hex-blue-0: #2873bd;
	--hex-blue-1: #2467aa;
	--hex-blue-2: #205c97;
	--hex-blue-3: #1c5084;
	--hex-blue-4: #184571;
	--hex-blue-5: #14395e;
	--hex-blue-6: #102e4c;
	--hex-blue-7: #0c2238;
	--hex-blue-8: #081726;
	--hex-blue-9: #040b13;
	--hex-orange-0: #d99d26;
	--hex-orange-1: #c38d22;
	--hex-orange-2: #ae7e1e;
	--hex-orange-3: #976e1b;
	--hex-orange-4: #825e17;
	--hex-orange-5: #6c4e13;
	--hex-orange-6: #573f0f;
	--hex-orange-7: #412f0b;
	--hex-orange-8: #2b1f08;
	--hex-orange-9: #150f04;
	--hex-purple-0: #9866ff;
	--hex-purple-1: #895ce5;
	--hex-purple-2: #7a52cc;
	--hex-purple-3: #6a47b2;
	--hex-purple-4: #5b3d99;
	--hex-purple-5: #4c337f;
	--hex-purple-6: #3d2966;
	--hex-purple-7: #2d1e4c;
	--hex-purple-8: #1e1433;
	--hex-purple-9: #0f0a19;
	--hex-brown-0: #795548;
	--hex-brown-1: #6d4c41;
	--hex-brown-2: #61443a;
	--hex-brown-3: #543b32;
	--hex-brown-4: #49332b;
	--hex-brown-5: #3c2a24;
	--hex-brown-6: #30221d;
	--hex-brown-7: #241915;
	--hex-brown-8: #18110e;
	--hex-brown-9: #0c0807;
	--hex-gray-0: #73808c;
	--hex-gray-1: #67737e;
	--hex-gray-2: #5c6670;
	--hex-gray-3: #505962;
	--hex-gray-4: #454d54;
	--hex-gray-5: #394046;
	--hex-gray-6: #2e3338;
	--hex-gray-7: #22262a;
	--hex-gray-8: #171a1c;
	--hex-gray-9: #0b0d0e;
	--hex-light-0: #e3e6e8;
	--hex-light-1: #cccfd0;
	--hex-light-2: #b6b8ba;
	--hex-light-3: #9ea1a2;
	--hex-light-4: #888a8b;
	--hex-light-5: #717374;
	--hex-light-6: #5b5c5d;
	--hex-light-7: #444545;
	--hex-light-8: #2d2e2e;
	--hex-light-9: #161717;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	letter-spacing: 0.05em;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
}
iframe {
	width: 100%;
}
img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}
ol, ul, li {
	list-style-type: none;
}
.material-symbols-rounded {
	font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 200, "opsz" 24;
}
[flex] {
	display: flex;
}
[flex-column] {
	display: flex;
	flex-direction: column;
}
[flex-center] {
	display: flex;
	justify-content: center;
	align-items: center;
}
[flex-center-0] {
	display: flex;
	justify-content: center;
}
[flex-0-center] {
	display: flex;
	align-items: center;
}
[flex-shrink-0] {
	flex-shrink: 0;
}
[square] {
	aspect-ratio: 1;
}
[bdrs-6] {
	border-radius: 6px;
}
[bdrs-12] {
	border-radius: 12px;
}
[btn-style] {
	border: 0;
	overflow: hidden;
}
[btn-style][small] {
	flex-shrink: 0;
	width: max-content !important;
}
[btn-style][red] {
	color: rgba(255, 255, 255, 0.9);
	background: #e64d4d;
}
[btn-style][red]:hover {
	background: #cf4545;
}
[btn-style][red]:active {
	background: #b83e3e;
}
[btn-style][green] {
	color: rgba(255, 255, 255, 0.9);
	background: #12a159;
}
[btn-style][green]:hover {
	background: #109150;
}
[btn-style][green]:active {
	background: #0e8147;
}
[btn-style][blue] {
	color: rgba(255, 255, 255, 0.9);
	background: #2873bd;
}
[btn-style][blue]:hover {
	background: #2467aa;
}
[btn-style][blue]:active {
	background: #205c97;
}
[btn-style][orange] {
	color: rgba(255, 255, 255, 0.9);
	background: #d99d26;
}
[btn-style][orange]:hover {
	background: #c38d22;
}
[btn-style][orange]:active {
	background: #ae7e1e;
}
[btn-style][gray] {
	color: rgba(255, 255, 255, 0.9);
	background: #73808c;
}
[btn-style][gray]:hover {
	background: #67737e;
}
[btn-style][gray]:active {
	background: #5c6670;
}
[btn-style][lightgray] {
	color: rgba(0, 0, 0, 0.6);
	background: #e3e6e8;
}
[btn-style][lightgray]:hover {
	background: #cccfd0;
}
[btn-style][lightgray]:active {
	background: #b6b8ba;
}
img[data-src] {
	opacity: 0;
	transition: opacity 0.5s ease-in;
}
img[data-src].fade-in {
	opacity: 1;
}
#preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #edf5f8;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: visible;
	opacity: 1;
	z-index: 999999999;
	transition: 0.25s;
	transition-delay: 1s;
}
#preloader.finished {
	visibility: hidden;
	opacity: 0;
}
#preloader svg {
	border-radius: 50%;
	width: 96px;
	height: 96px;
	animation: preloader-rotate 2s linear infinite;
}
#preloader svg circle {
	fill: none;
	stroke-width: 20px;
	stroke-linecap: round;
	transition: 1s linear;
	animation: preloader-dash 1.5s ease-in-out infinite, preloader-color 6s ease-in-out infinite;
}
@keyframes preloader-rotate {
	000% { transform: rotate(000deg); }
	100% { transform: rotate(360deg); }
}
@keyframes preloader-dash {
	000% { stroke-dasharray: 000, 565; stroke-dashoffset: 565; }
	050% { stroke-dasharray: 440, 250; stroke-dashoffset: 565; }
	100% { stroke-dasharray: 565, 565; stroke-dashoffset: 565; }
}
@keyframes preloader-color {
	000% { stroke: #ea4335; }
	025% { stroke: #4285f4; }
	050% { stroke: #34a853; }
	075% { stroke: #fbbc04; }
	100% { stroke: #7248b9; }
}
.loading {
	width: 30px;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 1px solid;
	border-color: #73808c transparent;
	animation: loading-block 0.5s linear infinite;
}
@keyframes loading-block {
	000% { transform: rotate(000deg); }
	100% { transform: rotate(360deg); }
}