button[btn-style] {
	border: 0;
	position: relative;
	overflow: hidden;
}

button[btn-style]:before {
	content: "";
	position: absolute;
	background: rgba(0, 0, 0, 0);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

button[btn-style]:hover:before {
	background: rgba(0, 0, 0, 0.1);
}

button[btn-style]:active:before {
	background: rgba(0, 0, 0, 0.2);
}

button[btn-style][red] {
	color: rgba(255, 255, 255, 0.9);
	background: #e64d4d;
}

button[btn-style][green] {
	color: rgba(255, 255, 255, 0.9);
	background: #12a159;
}

button[btn-style][blue] {
	color: rgba(255, 255, 255, 0.9);
	background: #2873bd;
}

button[btn-style][orange] {
	color: rgba(255, 255, 255, 0.9);
	background: #d99d26;
}

button[btn-style][gray] {
	color: rgba(255, 255, 255, 0.9);
	background: #73808c;
}

button[btn-style][lightgray] {
	color: rgba(0, 0, 0, 0.6);
	background: #e3e6e8;
}