button[btn-style] {
	border: 0;
	overflow: hidden;
}

button[btn-style][red] {
	color: rgba(255, 255, 255, 0.9);
	background: #e64d4d;
}

button[btn-style][red]:hover {
	background: #b83e3e;
}

button[btn-style][red]:active {
	background: #8a2e2e;
}

button[btn-style][green] {
	color: rgba(255, 255, 255, 0.9);
	background: #12a159;
}

button[btn-style][green]:hover {
	background: #0e8147;
}

button[btn-style][green]:active {
	background: #0b6135;
}

button[btn-style][blue] {
	color: rgba(255, 255, 255, 0.9);
	background: #2873bd;
}

button[btn-style][blue]:hover {
	background: #205c97;
}

button[btn-style][blue]:active {
	background: #184571;
}

button[btn-style][orange] {
	color: rgba(255, 255, 255, 0.9);
	background: #d99d26;
}

button[btn-style][orange]:hover {
	background: #ae7e1e;
}

button[btn-style][orange]:active {
	background: #825e17;
}

button[btn-style][gray] {
	color: rgba(255, 255, 255, 0.9);
	background: #73808c;
}

button[btn-style][gray]:hover {
	background: #5c6670;
}

button[btn-style][gray]:active {
	background: #454d54;
}

button[btn-style][lightgray] {
	color: rgba(0, 0, 0, 0.6);
	background: #e3e6e8;
}

button[btn-style][lightgray]:hover {
	background: #b6b8ba;
}

button[btn-style][lightgray]:active {
	background: #888a8b;
}