* {
	font: 14px "Bai Jamjuree", sans-serif;
	letter-spacing: 0.05em;
}

::-webkit-scrollbar {
	display: none;
}

body {
	background: #e9e9e9;
	display: flex;
	flex-direction: column;
	user-select: none;
}

.margin-block {
	width: 100%;
	max-width: 1000px;
	margin: auto;
}

#header {
	background: white;
}

#header>div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 0;
}

#header>div .logo {
	height: 30px;
}

#header>div .header-right {
	display: flex;
	align-items: center;
	gap: 12px;
}

#header>div .header-right a {
	color: black;
	font-size: 16px;
	font-weight: 500;
}

#header>div .header-right button#btn-logout {
	border: 0;
	width: 30px;
	line-height: 30px;
	background: #03a9f4;
	color: #fff;
	transition: 0.1s;
}

#header>div .header-right button#btn-logout:hover {
	background: #0288d1;
}