* {
	font: 14px "Bai Jamjuree", sans-serif;
	letter-spacing: 0.05em;
	color: #444;
}

::-webkit-scrollbar {
	display: none;
}

body {
	background: #e9e9e9;
	display: flex;
	flex-direction: column;
	user-select: none;
}

.margin-block {
	width: 100%;
	max-width: 1000px;
	margin: auto;
	padding: 0 12px;
}

#header {
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

#header>div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px;
}

#header>div .header-left .logo {
	height: 24px;
}

#header>div .header-right {
	display: flex;
	align-items: center;
	gap: 12px;
}

#header>div .header-right .nav-right {
	display: flex;
	gap: 12px;
}

#header>div .header-right .nav-right a {
	color: #9e9e9e;
	line-height: 44px;
	transition: 0.1s;
}

#header>div .header-right .nav-right a:nth-child(1),
#header>div .header-right .nav-right a:hover {
	color: #444;
}

#header>div .header-right .nav-user {
	display: flex;
	align-items: center;
	gap: 6px;
}

#header>div .header-right .nav-user .logged-user {
	display: flex;
	align-items: center;
	gap: 6px;
	position: relative;
	border: 1px solid #e9e9e9;
	padding: 6px;
	border-radius: 24px 6px 6px 24px;
	transition: 0.1s;
}

#header>div .header-right .nav-user .logged-user:hover {
	border-color: #9e9e9e;
}

#header>div .header-right .nav-user .logged-user .displayName {
	font-weight: 700;
}

#header>div .header-right .nav-user .logged-user .thumb {
	height: 24px;
	aspect-ratio: 1;
	border-radius: 12px;
	overflow: hidden;
}

#header>div .header-right .nav-user .dashboard {
	border: 1px solid #e9e9e9;
	height: 38px;
	border-radius: 6px;
	display: flex;
	align-items: center;
	padding: 0 6px;
	font-weight: 700;
	color: #3f51b5;
	transition: 0.1s;
}

#header>div .header-right .nav-user .dashboard:hover {
	border-color: #3f51b5;
}

#header>div .header-right .nav-user #btn-logout {
	background: 0;
	border: 1px solid #e9e9e9;
	height: 38px;
	aspect-ratio: 1;
	border-radius: 6px 18px 18px 6px;
	transition: 0.1s;
}

#header>div .header-right .nav-user #btn-logout:hover {
	border-color: #9e9e9e;
}

#body {
	margin-top: calc(68px + 12px);
}

#body > div {
	display: flex;
	gap: 12px;
}

#body > div #col-left {
	width: 100%;
}

#body>div #col-left .grid-1 {
	display: grid;
	grid-template: repeat(2, 1fr)/repeat(3, 1fr);
	grid-gap: 12px;
}

#body>div #col-left .grid-1 .block {
	background: #cfd8dc;
	width: 100%;
	height: 200px;
	border-radius: 6px;
}

#body>div #col-left .grid-1 .block:nth-child(1) {
	grid-area: 1/1/2/3;
}

#body>div #col-left .grid-1 .block:nth-child(2) {
	grid-area: 1/3/2/4;
}

#body>div #col-left .grid-1 .block:nth-child(3) {
	grid-area: 2/1/3/2;
}

#body>div #col-left .grid-1 .block:nth-child(4) {
	grid-area: 2/2/3/4;
}

#body > div #col-right {
	flex-shrink: 0;
	width: 300px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

#body > div #col-right .widget {
	background: white;
}

#body > div #col-right .widget .widget-title {
	border-bottom: 1px solid #e9e9e9;
}

#body > div #col-right .widget .widget-title h2 {
	padding: 12px;
	display: inline-block;
	border-bottom: 1px solid #9e9e9e;
	margin-bottom: -1px;
}

#body > div #col-right .widget .widget-body {
	padding: 12px;
}

#body > div #col-right #list-users .widget-body {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

#body > div #col-right #list-users .widget-body li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 12px;
}

#body > div #col-right #list-users .widget-body li a {
	display: flex;
	align-items: center;
	gap: 12px;
	width: 100%;
}

#body > div #col-right #list-users .widget-body li a .thumb {
	width: 40px;
	aspect-ratio: 1;
}

#body > div #col-right #list-users .widget-body li a .dataName {
	line-height: 30px;
}

#body > div #col-right #list-users .widget-body li a:hover .dataName {
	text-decoration: underline;
}