* {
	font: 14px "Bai Jamjuree", sans-serif;
	letter-spacing: 0.05em;
}

body {
	background: #e9ebee;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	user-select: none;
}

::-webkit-scrollbar {
	display: none;
}

#signup-form {
	width: 400px;
}

#signup-form>#signup-form {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

#signup-form>#signup-form>.row {
	display: flex;
	gap: 6px;
}

#signup-form>#signup-form>.row>.input {
	width: 100%;
	background: white;
	display: flex;
	align-items: center;
	border-radius: 6px;
}

#signup-form>#signup-form>.row>.input>span {
	flex-shrink: 0;
	width: 48px;
	text-align: center;
	color: #444;
}

#signup-form>#signup-form>.row>.input>input {
	width: 100%;
	border: 0;
	background: 0;
	height: 50px;
	padding: 0 12px 0 0;
}

#signup-form>#signup-form>.row>.input>input::placeholder {
	color: #999;
}

#signup-form>#signup-form>.row>input {
	flex-shrink: 0;
	appearance: none;
	width: 48px;
	height: 48px;
	cursor: pointer;
	background: white;
	border-radius: 6px;
}

#signup-form>#signup-form>.row>input:before {
	font-family: "Material Icons";
	font-size: 48px;
	color: #ddd;
}

#signup-form>#signup-form>.row>input:checked:before {
	text-shadow: 0px 0px 6px rgba(68, 68, 68, 0.5);
}

#signup-form>#signup-form>.row>input[value=male]:before {
	content: "male";
}

#signup-form>#signup-form>.row>input[value=male]:checked:before {
	color: #2766d9;
}

#signup-form>#signup-form>.row>input[value=female]:before {
	content: "female";
}

#signup-form>#signup-form>.row>input[value=female]:checked:before {
	color: #e41f5e;
}

#signup-form>#signup-form>#btn-signup {
	border: 0;
	border-radius: 6px;
	width: 100%;
	line-height: 48px;
	background: #ff9800;
	color: #fff;
	font-weight: 500;
}

#signup-form>#signup-form>#btn-signup:hover {
	background: #7d4a00;
}

#signup-form>.or {
	margin-top: 12px;
	display: block;
	text-align: center;
	color: #444;
}

#signup-form>.or a {
	display: inline-block;
	color: #fff;
	background: #009688;
	padding: 6px 12px;
	border-radius: 6px;
}

#signup-form>.or a:hover {
	background: #004b44;
}