@charset "UTF-8";

* {
	font-family: "Quicksand", sans-serif;
	font-size: 12px;
	color: #171a1c;
}

:root {
	--bdrs: 2px;
}

body {
	background: #edf5f8;
	padding: 12px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.label-user {
	display: flex;
	gap: 12px;
}

.label-user label {
	width: 100%;
	background: white;
	display: flex;
	align-items: center;
	gap: 12px;
	border: 1px solid #e3e6e8;
	border-radius: var(--bdrs);
	padding: 0 12px;
	height: 40px;
	cursor: pointer;
}

.label-user label .displayName {
	font-size: 13px;
	font-weight: 500;
}

form {
	width: 100%;
	background: white;
	display: flex;
	flex-direction: column;
	gap: 12px;
	border: 1px solid #e3e6e8;
	border-radius: var(--bdrs);
	padding: 12px;
}

form input {
	border: 1px solid #e3e6e8;
	border-radius: var(--bdrs);
	padding: 0 12px;
	height: 40px;
}

form input::placeholder {
	color: #73808c;
}

form button {
	border: 0;
	border-radius: var(--bdrs);
	padding: 0 12px;
	height: 40px;
	color: white;
	background: #406abf;
}

form button:hover {
	background: #3960ac;
}

form button:active {
	background: #335599;
}

#totalSum {
	width: 100%;
	max-width: 80%;
	margin: auto;
}

#totalSum .total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #e3e6e8;
}

#totalSum .total h3 {
	font-weight: 500;
}

#totalSum .total .returnSum {
	line-height: 30px;
	font-weight: 700;
	color: #ff9800;
}

#totalSum .total .returnSum:after {
	content: "đ";
	font-weight: 500;
	color: #abb3ba;
}

#list {
	display: flex;
	gap: 12px;
}

#list .list {
	width: 100%;
	border: 1px solid #e3e6e8;
	border-radius: var(--bdrs);
}

#list .list h3 {
	font-weight: 500;
	border-bottom: 1px solid #e3e6e8;
	padding: 12px;
}

#list .list .returnList {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 12px;
}

#list .list .returnList li:nth-child(even) {
	padding: 12px 0;
	border-top: 1px solid #e3e6e8;
	border-bottom: 1px solid #e3e6e8;
}

#list .list .returnList li .timeamp {
	font-weight: 500;
	color: #abb3ba;
	margin-bottom: 2px;
}

#list .list .returnList li .text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 12px;
}

#list .list .returnList li .text .description {
	font-weight: 700;
	width: 100%;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

#list .list .returnList li .text .amount {
	flex-shrink: 0;
	font-weight: 700;
	color: tomato;
	
}

#list .list .returnList li .text .amount:before {
	content: "-";
}

#list .list .returnList li .text .amount:after {
	content: "đ";
	font-weight: 500;
	color: #abb3ba;
}