::-webkit-scrollbar {
	width: 0;
	height: 0;
}

* {
	font-family: "Kodchasan", sans-serif;
	font-size: 12px;
	font-weight: normal;
}

:root {
	h1 {font-size: 24px;}
	h2 {font-size: 22px;}
	h3 {font-size: 20px;}
	h4 {font-size: 18px;}
	h5 {font-size: 16px;}
	h6 {font-size: 14px;}
}

body {
	font-size: var(--fz-lv-4);
	color: blue;
	background: hsl(30, 50%, 95%);
}

.app {
	width: 100%;
	.app-header_container, .app-main_container {
		max-width: 1080px;
		margin: 0 auto;
	}
	.app-header {
		width: 100%;
		background: var(--bg-box);
		border-bottom: 1px solid var(--bd-box);
		position: sticky;
		top: 0;
		left: 0;
		z-index: 99999;
		.app-header_container {
			padding: 12px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 12px;
			.app-header_container_logo {
				display: flex;
				align-items: center;
				gap: 12px;
				.app-header_container_logo_img {
					width: auto;
					height: 30px;
				}
				.app-header_container_logo_text {
					color: var(--color-lv-1);
					font-size: var(--fz-lv-1);
					font-weight: 600;
				}
			}
			.app-header_container_navbar {
				display: flex;
				align-items: center;
				gap: 12px;
				position: relative;
				.navbar_hamburger {
					display: none;
					width: 30px;
					height: 30px;
					background: hsl(var(--hue-saturation-blue), 85%);
					border: 1px solid hsl(var(--hue-saturation-blue), 80%);
					border-radius: var(--bdrs-lv-3);
					position: relative;
					&:before, &:after {
						content: "";
						position: absolute;
						height: 2px;
						background: #333;
						border-radius: var(--bdrs-lv-4);
						transition: 0.2s ease-in-out;
					}
					&:before {
						width: calc(100% - 12px);
						right: 6px;
						top: 8px;
					}
					&:after {
						width: calc(100% - 18px);
						right: 6px;
						bottom: 8px;
					}
					&.active {
						&:before, &:after {
							width: calc(100% - 12px);
						}
						&:before {
							top: calc(50% - 1px);
							transform: rotate(-45deg);
						}
						&:after {
							bottom: calc(50% - 1px);
							transform: rotate(45deg);
						}
					}
				}
				.navbar {
					display: flex;
					align-items: center;
					padding: 0 6px;
					background: hsl(var(--hue-saturation-brown), 85%);
					border: 1px solid hsl(var(--hue-saturation-brown), 80%);
					border-radius: var(--bdrs-lv-3);
					li {
						position: relative;
						a {
							padding: 0 6px;
							line-height: 28px;
							color: hsl(var(--hue-saturation-brown), 30%);
							display: block;
							&:hover {
								background: hsl(var(--hue-saturation-brown), 80%);
							}
						}
						& > .navbar_dropdown_1 {
							width: 100px;
							position: absolute;
							top: calc(100% + 24px);
							right: 0;
							background: hsl(var(--hue-saturation-orange), 80%);
							border: 1px solid hsl(var(--hue-saturation-brown), 75%);
							border-radius: var(--bdrs-lv-3);
							opacity: 0;
							visibility: hidden;
							transition: 0.2s ease;
							&:before {
								content: "";
								position: absolute;
								background: transparent;
								width: 100%;
								height: 12px;
								left: 0;
								bottom: 100%;
							}
							& > li {
								& > a {
									border-radius: 6px;
									color: hsl(var(--hue-saturation-brown), 25%);
									&:hover {
										background: hsl(var(--hue-saturation-brown), 75%);
									}
								}
								& > .navbar_dropdown_2 {
									width: 100px;
									position: absolute;
									top: 0;
									right: calc(100% + 24px);
									background: hsl(var(--hue-saturation-orange), 75%);
									border: 1px solid hsl(var(--hue-saturation-brown), 70%);
									border-radius: var(--bdrs-lv-3);
									opacity: 0;
									visibility: hidden;
									transition: 0.2s ease;
									&:before {
										content: "";
										position: absolute;
										background: transparent;
										width: 12px;
										height: 100%;
										top: 0;
										left: 100%;
									}
									& > li {
										& > a {
											border-radius: 6px;
											color: hsl(var(--hue-saturation-brown), 20%);
											&:hover {
												background: hsl(var(--hue-saturation-brown), 70%);
											}
										}
									}
								}
								&:hover > .navbar_dropdown_2 {
									right: calc(100% + 6px);
									opacity: 1;
									visibility: visible;
								}
							}
						}
						&:hover > .navbar_dropdown_1 {
							top: calc(100% + 6px);
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
		}
	}
	.app-main {
		.app-main_container {
			padding: 12px;
			display: flex;
			flex-direction: column;
			gap: 12px;
			.basic {
				display: flex;
				flex-direction: column;
				gap: 6px;
				p {
					display: flex;
					align-items: center;
					gap: 1ch;
					color: var(--color-lv-2);
					strong {
						padding: 6px;
						background: rgba(0, 0, 0, 0.1);
						border-radius: var(--bdrs-lv-3);
						user-select: all;
					}
				}
			}
			.detail {
				display: flex;
				align-items: flex-start;
				gap: 12px;
				.col-l {
					flex-shrink: 0;
					width: 200px;
					padding: 12px;
					background: hsl(30, 50%, 90%);
					border: 1px solid hsl(30, 50%, 85%);
					border-radius: var(--bdrs-lv-3);
					.animate-hanzi {
						display: flex;
						flex-direction: column;
						gap: 12px;
						position: relative;
					}
				}
				.col-r {
					width: 100%;
					display: flex;
					flex-direction: column;
					gap: 12px;
					.usage {
						padding: 12px;
						background: hsl(30, 50%, 90%);
						border: 1px solid hsl(30, 50%, 85%);
						border-radius: var(--bdrs-lv-3);
						h2 {
							padding-bottom: 12px;
							font-weight: 600;
							color: hsl(30, 50%, 10%);
							border-bottom: 1px solid hsl(30, 50%, 85%);
						}
						ul.definitions {
							& > li {
								h4.pos {
									padding-left: 24px;
									margin: 6px 0;
									font-weight: 500;
									color: hsl(30, 50%, 15%);
									position: relative;
									&:before {
										content: "";
										position: absolute;
										left: 0;
										top: 50%;
										transform: translatey(-50%);
										width: 2px;
										height: 80%;
										background: hsl(30, 50%, 20%);
										border-radius: 2px;
									}
								}
								ul.meanings {
									& > li {
										margin-left: 24px;
										h6.meaning {
											padding-left: 24px;
											margin: 6px 0;
											color: hsl(30, 50%, 20%);
											position: relative;
											&:before {
												content: "";
												position: absolute;
												left: 0;
												top: 50%;
												transform: translatey(-50%);
												width: 4px;
												height: 4px;
												background: hsl(30, 50%, 20%);
												border-radius: 50%;
											}
										}
										ul.examples {
											display: flex;
											flex-direction: column;
											gap: 6px;
											& > li {
												padding: 6px;
												margin-left: 24px;
												background: hsl(30, 50%, 95%);
												border-radius: var(--bdrs-lv-3);
												border-radius: var(--bdrs-lv-4);
												* {
													font-family: "LXGW WenKai Mono TC", monospace;
													color: hsl(30, 50%, 25%);
												}
												.hanzi {
													ruby {
														display: flex;
														span {
															display: flex;
															flex-direction: column-reverse;
															align-items: center;
															gap: 2px;
															font-size: 24px;
															rt {
																font-size: 14px;
																opacity: 0.8;
															}
														}
													}
												}
												.vietnamese {
													margin-top: 6px;
													font-size: 14px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 533px) {
	.app {
		.app-header {
			.app-header_container {
				.app-header_container_navbar {
					.navbar_hamburger {
						display: block;
					}
					.navbar {
						min-width: 100px;
						width: max-content;
						position: absolute;
						display: none;
						padding: 0;
						top: calc(100% + 24px);
						right: calc(100% - 30px);
						opacity: 0;
						visibility: hidden;
						transition: 0.2s ease;
						&.active {
							display: block;
							top: calc(100% + 6px);
							opacity: 1;
							visibility: visible;
						}
						li {
							a {
								padding: 0 12px;
								border-radius: 6px;
							}
							& > .navbar_dropdown_1 {
								top: 0;
								right: calc(100% + 24px);
								&:before {
									width: 12px;
									height: 100%;
									top: 0;
									left: 100%;
								}
							}
							&:hover > .navbar_dropdown_1 {
								top: 0;
								right: calc(100% + 6px);
							}
						}
					}
				}
			}
		}
	}
}