* {
	font: 14px "Bai Jamjuree", sans-serif;
	letter-spacing: 0.05em;
}

body {
	background: #e9e9e9;
	user-select: none;
}

::-webkit-scrollbar {
	display: none;
}

.app .magin-row {
	width: 100%;
	height: 100%;
	max-width: 1008px;
	margin: 0 auto;
	padding: 0 12px;
}

.app .header {
	background: #fff;
	width: 100%;
	height: 50px;
	position: fixed;
	left: 0;
	top: 0;
	box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
	z-index: 9;
}

.app .header .magin-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 12px;
}

.app .header .aside-left img {
	height: 38px;
}

.app .header .aside-right {
	display: flex;
	align-items: center;
	gap: 12px;
}

.app .header .aside-right a {
	color: #444;
	font-weight: 700;
}

.app .header .aside-right button {
	border: 0;
	border-radius: 6px;
	background: rgba(255, 99, 71, 0.2);
	color: tomato;
	font-size: 24px;
	height: 38px;
	aspect-ratio: 1;
}

.app .header .aside-right button:hover {
	background: rgba(255, 99, 71, 0.5);
	color: red;
}

.app .body {
	width: 100%;
	height: calc(100vh - 62px - 12px);
	margin: 62px 0 12px;
}

.app .body #profile {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 12px;
	height: 100%;
}

.app .body #profile .profile-header {
	position: relative;
}

.app .body #profile .profile-header .picture-cover {
	height: 300px;
}

.app .body #profile .profile-header .user-data-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	position: relative;
}

.app .body #profile .profile-header .user-data-header .picture-user {
	bottom: 36px;
	width: 200px;
	aspect-ratio: 1;
	position: absolute;
	overflow: hidden;
	box-shadow: 0 0 0 6px #e9ebee;
}

.app .body #profile .profile-header .user-data-header .picture-user:hover #btn-show-upload-picture {
	top: 0;
}

.app .body #profile .profile-header .user-data-header .picture-user #btn-show-upload-picture {
	position: absolute;
	border: 0;
	background: rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.8);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
	height: 50px;
	top: -50px;
	transition: 0.3s;
}

.app .body #profile .profile-header .user-data-header .picture-user #btn-show-upload-picture:hover {
	backdrop-filter: blur(3px);
}

.app .body #profile .profile-header .user-data-header .data-user {
	margin-top: 12px;
}

.app .body #profile .profile-header .user-data-header .data-user span {
	display: block;
	color: #444;
	font-size: 18px;
	font-weight: 700;
	height: 24px;
	line-height: 24px;
}

.app .body #profile .profile-body {
	background: white;
	height: 100%;
}

.app .body #profile .profile-body .nav-item {
	display: flex;
	box-shadow: 0 2px #e9e9e9;
}

.app .body #profile .profile-body .nav-item .nav-top-item {
	height: 36px;
	line-height: 36px;
	padding: 0 12px;
	cursor: pointer;
	color: #9e9e9e;
	font-weight: 500;
}

.app .body #profile .profile-body .nav-item .nav-top-item:hover:not(.app .body #profile .profile-body .nav-item .nav-top-item.active) {
	color: #444;
}

.app .body #profile .profile-body .nav-item .nav-top-item.active {
	color: #007fb9;
	box-shadow: 0 2px #007fb9;
}

.app .body #profile .profile-body .nav-tab {
	padding-top: 2px;
}

.app .body #profile .profile-body .nav-tab .nav-top-tab {
	display: none;
	padding: 12px;
	color: #444;
}

.app .body #profile .profile-body .nav-tab .nav-top-tab p {
	display: flex;
	gap: 12px;
	justify-content: space-between;
	max-width: 300px;
}

.app .body #profile .profile-body .nav-tab .nav-top-tab.active {
	display: block;
}

#preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #212121;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: visible;
	opacity: 1;
	z-index: 1000000000000000100000;
	transition: 0.25s;
	transition-delay: 1s;
}

#preloader.finished {
	visibility: hidden;
	opacity: 0;
}

#preloader svg {
	border-radius: 50%;
	width: 96px;
	height: 96px;
	animation: rotate 2s linear infinite;
}

#preloader svg circle {
	fill: none;
	stroke-width: 20px;
	stroke-linecap: round;
	transition: 1s linear;
	animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 0, 565;
		stroke-dashoffset: 565;
	}

	50% {
		stroke-dasharray: 440, 250;
		stroke-dashoffset: 565;
	}

	100% {
		stroke-dasharray: 565, 565;
		stroke-dashoffset: 565;
	}
}

@keyframes color {
	0% {
		stroke: #ea4335;
	}

	25% {
		stroke: #4285f4;
	}

	50% {
		stroke: #34a853;
	}

	75% {
		stroke: #fbbc04;
	}

	100% {
		stroke: #7248b9;
	}
}