@charset "UTF-8";

* {
	font-family: "Playpen Sans", cursive;
	font-size: 12px;
	color: #171a1c;
}

:root {
	--bdrs: 2px;
}

body {
	background: #edf5f8;
	padding: 12px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.loading {
	width: 20px;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 1px solid;
	border-color: #73808c transparent;
	animation: loading-block 0.5s linear infinite;
}

@keyframes loading-block {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

#form {
	width: 100%;
	background: white;
	display: flex;
	flex-direction: column;
	gap: 12px;
	border: 1px solid #e3e6e8;
	border-radius: var(--bdrs);
	padding: 12px;
}

#form .person {
	display: flex;
	gap: 12px;
}

#form .person label {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 12px;
	border: 1px solid #e3e6e8;
	border-radius: var(--bdrs);
	padding: 12px;
	cursor: pointer;
}

#form .person label .displayName {
	font-size: 16px;
	font-weight: 600;
}

#form input {
	font-size: 16px;
	border: 1px solid #e3e6e8;
	border-radius: var(--bdrs);
	padding: 12px;
}

#form input::placeholder {
	color: #73808c;
}

#form button {
	font-size: 16px;
	border: 0;
	border-radius: var(--bdrs);
	padding: 12px;
	color: white;
	background: #406abf;
}

#form button:hover {
	background: #3960ac;
}

#form button:active {
	background: #335599;
}

#sumData {
	width: 100%;
	max-width: 80%;
	margin: auto;
}

#sumData .row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #e3e6e8;
}

#sumData .row>h3 {
	font-weight: 400;
}

#sumData .row>h3 b {
	font-weight: 600;
}

#sumData .row .return_sumData {
	line-height: 30px;
	font-weight: 600;
	color: #ff9800;
}

#sumData .row .return_sumData:after {
	content: "đ";
	font-weight: 400;
	color: #abb3ba;
}

#list {
	display: flex;
	gap: 12px;
}

#list .list {
	width: 100%;
	border: 1px solid #e3e6e8;
	border-radius: var(--bdrs);
	background: white;
}

#list .list .totalSum {
	background: #e3e6e8;
	display: flex;
	justify-content: space-between;
	gap: 12px;
	padding: 12px;
}

#list .list .totalSum h3 {
	font-weight: 400;
}

#list .list .totalSum h3 b {
	font-weight: 600;
}

#list .list .totalSum .return_totalSum {
	font-weight: 600;
	color: #406abf;
}

#list .list .totalSum .return_totalSum:before {
	content: "-";
}

#list .list .totalSum .return_totalSum:after {
	content: "đ";
	font-weight: 400;
	color: #abb3ba;
}

#list .list .returnList {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 12px;
}

#list .list .returnList li:hover, #list .list .returnList li:active {
	cursor: pointer;
	text-decoration: line-through;
	opacity: 0.5;
}

#list .list .returnList li:nth-child(n+2) {
	padding-top: 12px;
	border-top: 1px solid #e3e6e8;
}

#list .list .returnList li .data {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2px;
}

#list .list .returnList li .data .timeamp {
	color: #abb3ba;
}

#list .list .returnList li .data .amount {
	flex-shrink: 0;
	font-weight: 600;
	color: #ff5722;
}

#list .list .returnList li .data .amount:before {
	content: "-";
}

#list .list .returnList li .data .amount:after {
	content: "đ";
	font-weight: 400;
	color: #abb3ba;
}

#list .list .returnList li .description {
	font-weight: 600;
}