@charset "UTF-8";
* {
	font-family: "Bai Jamjuree", sans-serif;
	font-size: 12px;
	color: #171a1c;
}
::-webkit-scrollbar {
	width: 0;
	height: 0;
}
:root {
	--maxwidth: 1280px;
	--bdrs: 2px;
	--bd-color: hsl(210deg 10% 90%);
}
body {
	background: #edf5f8;
	user-select: none;
}
.app {
	width: 100%;
	max-width: 800px;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 12px;
	height: 100vh;
}
.app .form-active {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--bd-color);
	padding-bottom: 12px;
}
.app .form-active label .text {
	border-radius: var(--bdrs);
	padding: 0 6px;
	line-height: 30px;
	display: block;
	cursor: pointer;
}
.app .form-active #total-image {
	font-weight: 600;
	color: #2873bd;
}
.app .form-active #total-image:before {
	content: "Đã tải lên ";
	font-weight: 400;
	color: #171a1c;
}
.app .form-active #total-image:after {
	content: " ảnh";
	font-weight: 400;
	color: #171a1c;
}
.app #box-images {
	width: 100%;
	display: grid;
	grid-gap: 12px;
	grid-template-columns: auto auto auto auto auto;
	grid-auto-flow: dense;
	cursor: pointer;
}
.app #box-images .image-container {
	position: relative;
	background: #607D8B;
	border-radius: var(--bdrs);
	overflow: hidden;
}
.app #box-images .image-container:before {
	content: "\f655";
	font-family: "Material Symbols Rounded";
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.5);
	font-size: 24px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: 0.2s;
}
.app #box-images .image-container:hover:before {
	opacity: 1;
}
.preview-image {
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
	z-index: 999;
}
.preview-image:has(#preview-image.active) {
	opacity: 1;
	visibility: visible;
}
.preview-image #preview-image {
	background: rgba(0, 0, 0, 0.1);
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.preview-image #preview-image img {
	max-width: 80%;
	max-height: 80%;
	object-fit: contain;
}
.preview-image #preview-image .btn-gr {
	background: white;
	width: 100%;
	position: absolute;
	top: 0;
	right: 50%;
	transform: translateX(50%);
	display: flex;
	gap: 12px;
	padding: 12px;
}
.preview-image #preview-image .btn-gr span {
	background: rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.5);
	border-radius: var(--bdrs);
	padding: 6px;
	font-size: 20px;
	width: 100%;
	text-align: center;
}
.preview-image #preview-image .btn-gr span:hover {
	background: rgba(0, 0, 0, 0.3);
	color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
}
#croper-box {
	background: white;
	border: 12px solid white;
	width: calc(100% - 12px);
	height: calc(100% - 12px);
	max-width: 800px;
	max-height: 500px;
	position: fixed;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
	z-index: 999;
	top: 50%;
	opacity: 1;
	visibility: visible;
}
#croper-box.active {
	top: 50%;
	opacity: 1;
	visibility: visible;
}
#croper-box .row-1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 12px;
}
#croper-box .row-1 .icon {
	color: #abb3ba;
}
#croper-box .row-1 .croper-ratio-options {
	display: flex;
	align-items: center;
	gap: 12px;
}
#croper-box .row-1 .croper-ratio-options .icon {
	cursor: pointer;
}
#croper-box .row-1 .croper-ratio-options .icon:hover {
	color: #73808c;
}
#croper-box .row-1 .croper-ratio-options .croper-ratio-lists {
	display: flex;
	align-items: center;
	gap: 12px;
}
#croper-box .row-1 .croper-ratio-options .croper-ratio-lists .croper-ratio {
	font-weight: 500;
}
#croper-box .row-1 .btn-gr {
	display: flex;
	gap: 12px;
}
#croper-box .row-1 .btn-gr button {
	padding: 0 12px;
	height: 30px;
	border-radius: var(--bdrs);
}
#croper-box .row-2 {
	position: relative;
	background: lightgray;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
#croper-box .row-2 #croper-box-dragg-area {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	display: none;
}
#croper-box .row-2 #croper-box-dragg-area #croper-box-dragg {
	position: inherit;
	width: 0;
	height: 0;
	cursor: grab;
}
#croper-box .row-2 #croper-box-dragg-area #croper-box-dragg #croper-box-dragg-resizer {
	position: inherit;
	width: 24px;
	height: 24px;
	font-size: 20px;
	bottom: 6px;
	right: 6px;
	cursor: se-resize;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotate(-90deg);
	color: white;
	text-shadow: 0 0 6px black;
}
#croper-box .row-2 #croper-box-dragg-area #croper-box-dragg #croper-box-dragg-resizer:hover {
	background: rgba(0, 0, 0, 0.3);
}
#croper-box .row-2 #croper-box-canvas-image {
	background: green;
}